@import '../sass/variables';
@import '../sass/mixins';

// For the popup form
#main-container {
    /* Modal Content */
    #main-container-content {
        border-radius: 10px;
        box-shadow: 1px 7px 30px $theme-dark-grey;
        background-color: $theme-white;
        height: auto;
        border: 1px solid #888;
        width: 25vw;
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
        li {
            font-size: 10pt;
        }
        #main-container-content-heading {
            @include row-center();
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            justify-content: space-between;
            font-weight: bold;
            color: $theme-white;
            background: $theme-dark-grey;
            padding: 1vh 2vw;
            .heading{
                font-size: 12pt;
            }
            .cross {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-detail{
            padding: 1vh 2vw;
                .form-title-bold {
                font-weight: bold;
                font-size: 12pt;
                color: black;
            }
        }
        #create-source-button {
            margin: auto;
            border: black solid 1px;
            background: #888;
            margin-bottom: 1vh;
            font-weight: bold;
            font-size: 10pt;
            width: 9vw;
            text-align: center;
            padding: 2vh 0;
        }
    }
}