<!-- The Modal -->
<div id="sourceForm" class="createForm">

    <!-- Modal content -->
    <div class="createForm-content">
        <!-- the (x) button -->
        <div id="close">&times;</div>
        <ul>
            <li>
                <span class="form-title-bold">Title:<br>{{source.title}}</span>
            </li>
            <li>
                <span class="form-title-bold">Difficulty:<br> Intermediate </span>
            </li>
            <li>
                <span class="form-title-bold">Tags:<br> Web Development </span>
            </li>
            <li>
                <span class="form-title-bold">Description: <br> {{source.description}}</span>
            </li>
        </ul>
        <div id="create-source-button">
            Create New Source
        </div>
    </div>
</div>