<section id="main-container" *ngIf="source">
    <section id="main-container-content">
        <article id="main-container-content-heading">
            <span class="heading">Description</span>
            <article>
                <span class="cross">&nabla;</span>
                <span class="cross" (click)="closePopup()">&times;</span>
            </article>
        </article>
        <section id="main-container-content-detail">
            <ul>
                <li>
                    <span class="form-title-bold">Title:<br></span><span>{{source.title}}</span>
                </li>
                <li>
                    <span class="form-title-bold">Difficulty:<br></span> <span>Intermediate </span>
                </li>
                <li>
                    <span class="form-title-bold">Tags:<br></span> <span>Web Development </span>
                </li>
                <li>
                    <span class="form-title-bold">Description: <br></span> <span>{{source.description}}</span>
                </li>
            </ul>
        </section>
        <div id="create-source-button" (click)="addSource()">
            Create New Source
        </div>
    </section>
</section>