<app-header></app-header>

<section class="main-container">
    <section class="top-container">
        <article class="top-container-content">
            <!--<article class="top-container-content" *ngIf="board">-->
            <article class="back" routerLink="/dashboard">
                <span>&#10094;</span><span>Back</span>
            </article>
            <article class="title">
                {{title}}
            </article>
        </article>
    </section>
    <section class="mid-container">
        <section class="mid-container-boards">
            <section class="create-container">
                <section class="create-card" (click)="switchTo('form')" *ngIf="isCreateShown">
                    <span class="plus">&#10010;</span>
                    <span class="larger-font">Create Card</span>
                </section>
                <section class="create-form" *ngIf="isFormShown">
                    <!--<div class="close" (click)="switchTo('create')">&#10006;</div>-->
                    <form>
                        <input class="title" [(ngModel)]="card.title" type="text" name="title" placeholder="NAME" [appAutofocus]="true" maxlength="18">
                        <div class="buttons">
                            <button id="create-source-button-save" (click)="switchTo('create')" (click)="addCard()">Save</button>
                            <div id="cross" (click)="switchTo('create')">&#10005;</div>
                        </div>
                    </form>
                </section>
            </section>
            <section class="mid-container-cards-content" *ngFor="let card of cards">
                <app-card class="card" [card]="card" (onUpdate)="refreshCard()"></app-card>
                <!--<app-card class="card" [card]="card" [boardID]= {{board.board_id}}></app-card>-->
            </section>
        </section>
    </section>
</section>