<section id="header">
    <section id="header-content">
        <section id="header-left">
            <a routerLink="/home">SourceStash</a>
        </section>
        <section id="header-right">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/welcome">About</a>
                </li>
                <li>
                    <a routerLink="/profilepage">Profile</a>
                </li>
                <li>
                    <a routerLink="/welcome" (click)="logout()">Logout</a>
                </li>
            </ul>
        </section>
        <section id="header-mobile-right">
            <button id="header-mobile-right-btn" (click)="toggleDropdown()">Drop</button>
            <section id="header-mobile-right-content" *ngIf="isDropdown">
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/profilepage">Profile</a></li>
                    <li><a routerLink="/welcome" (click)="logout()">Logout</a></li>
                </ul>
            </section>
        </section>
    </section>
</section>
