<section class="all-modals" (click)="hideModal()" *ngIf="isModalShown">
</section>

<section class="header">
  <section class="header-content">
    <section class="header-left">
      <p>
        <img class="logo" src="assets/images/icons/logo.png" />
        <a routerLink="/welcome">Source Stash</a>
      </p>
    </section>

    <!--For the logged out version-->
    <section class="header-right" *ngIf="!isUserLoggedIn">
      <a routerLink="#">BENEFITS</a><span class="circle"> </span>
      <a routerLink="#">FEATURES</a><span class="circle"> </span>
      <a routerLink="#">CONTACT US</a><span class="circle"> </span>
      <a routerLink="/login">LOGIN</a>
    </section>

    <!--For the logged in version-->
    <section class="header-right" *ngIf="isUserLoggedIn">
      <article class="header-right-profile" *ngIf="currentAccount">Hi, {{currentAccount.firstName}}</article>
      <a class="header-right-home" routerLink="/home">Home</a>
      <a class="header-right-welcome" routerLink="/welcome">About us</a>
      <section class="header-right-dropdown-container">
        <article class="header-right-logout" (click)="toggleProfileDropdown()">
          <img src="./assets/images/profile.png" width="30px" height="30px">
        </article>
        <article class="header-right-profile-dropdown" *ngIf="isProfileDropdown">
          <ul>
            <a class="profile" routerLink="/profilepage">
              <li>Profile</li>
            </a>
            <a class="logout" routerLink="/login" (click)="logout()">
              <li>Logout</li>
            </a>
          </ul>
        </article>
      </section>
    </section>


    <!--For the mobile version (logged out)-->
    <section class="header-mobile-right" *ngIf="!isUserLoggedIn">
      <button class="header-mobile-right-btn" (click)="isDropdown = !isDropdown" (click)="isModalShown = !isModalShown">&#9776;</button>
      <section class="header-mobile-right-content" *ngIf="isDropdown">
        <ul>
          <a routerLink="/login">
            <li>Log in</li>
          </a>
          <a routerLink="/welcome">
            <li>About us</li>
          </a>
        </ul>
      </section>
    </section>

    <!--For the mobile version (logged in)-->
    <section class="header-mobile-right" *ngIf="isUserLoggedIn">
      <button class="header-mobile-right-btn" (click)="isDropdown = !isDropdown" (click)="isModalShown = !isModalShown">&#9776;</button>
      <section class="header-mobile-right-content" *ngIf="isDropdown">
        <ul>
          <a routerLink="/home">
            <li>Home</li>
          </a>
          <a routerLink="/welcome">
            <li>About us</li>
          </a>
          <a routerLink="/profilepage">
            <li>Profile</li>
          </a>
          <a routerLink="/welcome" (click)="logout()">
            <li>Logout</li>
          </a>
        </ul>
      </section>
    </section>
  </section>
</section>