<section class="all-modals" (click)="hideModal()" *ngIf="isModalShown">
</section>

<section class="header" [class.header-logged-in]="isUserLoggedIn">
  <section class="header-content">
    <section class="header-left" routerLink="/welcome">
      <p>
        <img class="logo" src="assets/images/icons/logo.png" />
        <span>Source Stash</span>
      </p>
    </section>

    <!--For the logged out version-->
    <section class="header-right" *ngIf="!isUserLoggedIn">
      <a routerLink="#">BENEFITS</a><span class="circle"> </span>
      <a routerLink="#">FEATURES</a><span class="circle"> </span>
      <a routerLink="/contact">CONTACT US</a><span class="circle"> </span>
      <a routerLink="/login">LOGIN</a>
    </section>

    <!--For the logged in version-->
    <section class="header-right" *ngIf="isUserLoggedIn">
      <span class="header-right-profile" *ngIf="currentAccount">Hi, {{currentAccount.firstName}}!</span>
      <a class="header-right-home" routerLink="/home">MY STASHES</a><span class="circle"> </span>
      <a class="header-right-welcome" routerLink="/contact">CONTACT US</a><span class="circle"> </span>
      <a class="header-right-welcome" routerLink="/welcome" (click)="logout()">LOGOUT</a>
      <!--<section class="header-right-dropdown-container">
        <article class="header-right-logout" (click)="toggleProfileDropdown()">
          <img src="./assets/images/profile.png" width="30px" height="30px">
        </article>
        <article class="header-right-profile-dropdown" *ngIf="isProfileDropdown">
          <ul>
            <a class="profile" routerLink="/profilepage">
              <li>Profile</li>
            </a>
            <a class="logout" routerLink="/login" (click)="logout()">
              <li>Logout</li>
            </a>
          </ul>
        </article>
      </section>-->
    </section>


    <!--For the mobile version (logged out)-->
    <section class="header-mobile-right" *ngIf="!isUserLoggedIn">
      <button class="header-mobile-right-btn" (click)="isDropdown = !isDropdown" (click)="isModalShown = !isModalShown">&#9776;</button>
      <section class="header-mobile-right-content" *ngIf="isDropdown">
        <ul>
          <a routerLink="#">
            <li>BENEFITS</li>
          </a>
          <a routerLink="#">
            <li>FEATURES</li>
          </a>
          <a routerLink="/contact">
            <li>CONTACT US</li>
          </a>
          <a routerLink="/login">
            <li>LOGIN</li>
          </a>
        </ul>
      </section>
    </section>

    <!--For the mobile version (logged in)-->
    <section class="header-mobile-right" *ngIf="isUserLoggedIn">
      <button class="header-mobile-right-btn" (click)="isDropdown = !isDropdown" (click)="isModalShown = !isModalShown">&#9776;</button>
      <section class="header-mobile-right-content" *ngIf="isDropdown">
        <ul>
          <a routerLink="/home">
            <li>MY STASHES</li>
          </a>
          <a routerLink="/contact">
            <li>CONTACT US</li>
          </a>
          <a routerLink="/welcome" (click)="logout()">
            <li>LOGOUT</li>
          </a>
        </ul>
      </section>
    </section>
  </section>
</section>