// header
$headerHeight: 7vh;
$headerBG: #304269;
$headerFont: whitesmoke;
$headerFontSize: 10pt;

#header{
    background: $headerBG;
    height: $headerHeight;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $headerFont;
    font-size: $headerFontSize;
    text-shadow: 2px 2px #222; 
    a{
        text-decoration: none;
        color: #91BED4;
        text-align: center;
    } 
    ul{
        margin: 0px;
        list-style-type: none;
        display: flex;
    }
    li {
        cursor: pointer;
        width: 7vw;
    }   
}
