@import '../sass/variables';
@import '../sass/mixins';
div.wrapper {
    border-top: 1px solid $theme-font-grey;
    @include row-center();
    width: 100vw;
    height: $footer-height;
    background: $theme-white;
    section.footer {
        @include row-center();
        width: $content-width;
        height: $footer-height;
        justify-content: space-between;
        &:hover {
            cursor: pointer;
        }
        p {
            margin: 0;
            text-align: center;
            color: $theme-dark-blue;
            font-size: 15pt;
        }
        section.logo {
            @include row-center();
            img.logo {
                height: $logo-height;
            }
            span {
                color: $theme-dark-blue;
                font-size: 15pt;
                margin-left: 1vw;
                font-weight: 700;
            }
        }
    }
}


//
// mobile version
@include media(mobile-screen) {
    div.wrapper {
        @include row-center();
    }
}