@import '../sass/variables';
@import '../sass/mixins';

section.all-modals {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include column-center();
}

#main-container{
    width: 100vw;
    height: $main-container-height;
    background: $main-container-bg;
    display: flex;
    justify-content: center; 
    text-align: center;
    #main-container-content{
        width: 80vw;
        #main-container-title{
            font-size: 16pt;
            font-weight: bold;
            color: $theme-light-blue;
            padding: 2vh 0;
        }
        #main-container-stashes{
            width: 80vw;
            display: flex; 
            justify-content: space-around;
            flex-wrap: wrap;
            #main-container-stashes-content{
                // margin: 2vh 0 2vh 0; 
            }
        }
    }
}



