<section id="main-container" *ngIf="parentSource">
    <section id="main-container-content">
        <article id="main-container-content-heading">
            <span class="heading">Create Source</span>
            <span class="cross" (click)="closePopup()">&times;</span>
        </article>
        <section id="main-container-content-detail">
            <form>
                <ul>
                    <li>
                        <span class="form-title-bold">Title:<br></span>
                        <input class="title" [(ngModel)]="source.title" type="text" name="title">
                    </li>
                    <li>
                        <span class="form-title-bold">Hyperlink:<br></span>
                        <input class="title" [(ngModel)]="source.hyperlink" type="text" name="hyperlink">
                    </li>
                    <li>
                        <span class="form-title-bold">Difficulty:<br></span>
                        <select class="difficulty" name="difficulty" [(ngModel)]="source.difficulty"> 
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </li>
                    <li>
                        <span class="form-title-bold">Tags:<br></span>
                        <input class="tags" name="tags" [(ngModel)]="tagString">
                    </li>
                    <li>
                        <span class="form-title-bold">Description: <br></span>
                        <textarea class="description" [(ngModel)]="source.description" name="description"></textarea>
                    </li>
                </ul>
            </form>
        </section>
        <div id="create-source-button" (click)="addSource()">
            Create
        </div>
    </section>
</section>