@import '../sass/variables';

#stash-block{
    width: 20vw;
    height: 23vh;
    background: $theme-light-blue;
    border: solid 2px $theme-orange;
    color: $theme-white;
    // flex: 1;
    #stash-title{
        display: flex;
        justify-content: center;
        font-size: 16pt;
        padding: 1vh 0;
    }
    #stash-sources{
        padding: 1vh 1vw;
    }
    #stash-rating{
        padding: 1vh 1vw 0 1vw;
        ul{
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            justify-content: space-between;
            display: flex;
        }
        li{
            font-size: 10pt;       
        }   
    }
}

#source{
    display: flex;
    justify-content: space-between;
}