@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    color: $theme-font-grey;
    width: 250px;
    min-height: 130px;
    padding: 20px 20px;
    background: $theme-font-light-grey;
    font-size: 16pt;
    text-transform: uppercase;
    .main-container-content {
        width: 210px;
        .title {
            display: flex;
            align-items: center;
            height: 30px;
            font-weight: bold;
            span:nth-child(1) {
                width: 190px;
                overflow: hidden;
            }
            span:nth-child(2) {
                width: 20px;
                cursor: pointer;
            }
        }
        .list {
            .add-link-container {
                .add-link {
                    text-decoration: underline;
                    text-transform: none;
                    padding: 5px 0;
                    cursor: pointer;
                    font-size: 12pt;
                    color: lighten($theme-font-grey, 20);
                }
                .add-link-form {
                    @include column-center();
                    input[type=text],
                    select {
                        border-radius: 5px;
                        box-sizing: border-box;
                        @include column-center();
                        background: white;
                        padding: 0.5vh 1vw;
                        text-align: left;
                        height: 27px;
                        color: $theme-font-grey;
                        width: 210px;
                        font-size: 12pt;
                        margin-bottom: 3px;
                    }
                    .buttons {
                        margin-top: 5px;
                        display: flex;
                        flex-direction: row;
                        font-weight: 300;
                        font-size: 10pt;
                        #create-source-button-save {
                            @include button-cb-normal($width: 70px, $height: 30px);
                            padding: 0;
                            @include row-center();
                            background: #13CE66;
                            margin-right: 15px;
                            &:hover {
                                background: #13CE66;
                            }
                        }
                        #cross {
                            font-size: 22pt;
                        }
                    }
                }
            }
            .url-list {
                text-transform: none;
                font-size: 12pt;
                ul {
                    padding: 0;
                    margin: 10px 0 0 0;
                }
                li {
                    color: darken($theme-font-light-grey, 20);
                    box-sizing: border-box;
                    background: white;
                    padding: 0.5vh 1vw;
                    text-align: left;
                    height: 27px;
                    margin-bottom: 4px;
                    font-size: 12pt;
                }
            }
        }
    }
}