@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    color: $theme-font-grey;
    width: 16.5vw;
    padding: 1vh 1vw;
    background: $theme-font-light-grey;
    font-size: 16pt;
    text-transform: uppercase;
    .close {
        @include row-center();
        cursor: pointer;
        position: absolute;
        width: 2vw;
        height: 2vw;
        left: 15.5vw;
        top: -2vh;
        font-size: 16pt;
        border-radius: 50px;
        border: darken($theme-light-orange, 10) solid 2px;
        color: darken($theme-light-orange, 10);
        @include transition-basic();
        background: black;
        &:hover {
            box-shadow: 2px 4px 10px black;
        }
    }
    .main-container-content {
        width: 14.5vw;
        margin: 0;
        .title {
            display: flex;
            align-items: center;
            height: 4.5vh;
            font-weight: bold;
            span:nth-child(1) {
                box-sizing: border-box;
                width: 13vw;
                overflow: hidden;
                font-size: 16pt;
                // display: none;
            }
            span:nth-child(2) {
                width: 1vw;
                cursor: pointer;
            }
            input[type=text],
            select {
                text-transform: uppercase;
                box-sizing: border-box;
                @include column-center();
                background: white;
                text-align: left;
                height: 3.5vh;
                color: $theme-font-grey;
                border: none;
                width: 14.5vw;
                font-size: 16pt;
                padding: 0;
                margin: 0;
            }
        }
        .list {
            .add-link-container {
                .add-link {
                    text-decoration: underline;
                    text-transform: none;
                    padding: 1vh 0;
                    cursor: pointer;
                    font-size: 12pt;
                    color: lighten($theme-font-grey, 20);
                }
                .add-link-form {
                    @include column-center();
                    input[type=text],
                    select {
                        box-sizing: border-box;
                        @include column-center();
                        background: white;
                        padding: 0.5vh 1vw;
                        text-align: left;
                        height: 3.5vh;
                        color: $theme-font-grey;
                        width: 14.5vw;
                        font-size: 12pt;
                        margin-bottom: 3px;
                    }
                }
            }
            .url-list {
                text-transform: none;
                font-size: 12pt;
                ul {
                    padding: 0;
                    margin: 10px 0 0 0;
                }
                li {
                    color: darken($theme-font-light-grey, 20);
                    box-sizing: border-box;
                    background: white;
                    padding: 0.5vh 1vw;
                    text-align: left;
                    height: 27px;
                    margin-bottom: 4px;
                    font-size: 12pt;
                }
            }
            .delete {
                cursor: pointer;
                margin-top: 1vh;
                text-align: center;
                border: $theme-font-grey solid 1px;
                width: 10vw;
            }
        }
    }
}

.buttons {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 10pt;
    #create-source-button-save {
        cursor: pointer;
        @include button-cb-normal($width: 70px, $height: 3vh);
        padding: 0;
        @include row-center();
        background: #13CE66;
        margin-right: 15px;
        &:hover {
            background: #13CE66;
        }
    }
    #cross {
        font-size: 3vh;
        cursor: pointer;
    }
}