<section class="main-container">
    <section class="main-container-content">
        <article class="title">
            <span>Hitler</span><span *ngIf="isEditShown">&#10000;</span>
        </article>
        <section class="list">

            <section class="add-link-container">
                <div class="add-link" (click)="switchTo('form')" *ngIf="isCreateShown">Add Link</div>
                <section class="add-link-form" *ngIf="isFormShown">
                    <form>
                        <input class="title" [(ngModel)]="card.title" type="text" name="title" placeholder="NAME (OPTIONAL)" maxlength="18">
                        <!--<input class="title" [(ngModel)]="card.title" type="text" name="title" placeholder="NAME (OPTIONAL)" [appAutofocus]="true" maxlength="18">-->
                        <!--<input class="title" [(ngModel)]="link.hyperlink" type="text" name="title" placeholder="URL">-->
                        <div class="buttons">
                            <button id="create-source-button-save" (click)="switchTo('create')">Save</button>
                            <div id="cross" (click)="switchTo('create')">&#10005;</div>
                        </div>
                    </form>
                </section>
            </section>

            <section class="url-list">
                <ul>
                    <li>Testing 1</li>
                    <li>Testing 2</li>
                </ul>
            </section>
        </section>
    </section>
</section>