<section class="main-container" *ngIf="card">
    <section class="main-container-content">
        <!--<div class="close" *ngIf="!isEditShown" (click)="editMode('off')">&#10006;</div>-->
        <article class="title">
            <span *ngIf="isEditShown">{{card.title}}</span>
            <input *ngIf="!isEditShown" class="titleEdit" [(ngModel)]="card.title" type="text" name="title">
            <span *ngIf="isEditIconShown" (click)="editMode('on')">&#10000;</span>
        </article>
        <section class="list">

            <section class="add-link-container">
                <div class="buttons" *ngIf="!isEditShown">
                    <button id="create-source-button-save" (click)="editMode('off')">Save</button>
                    <div id="cross" (click)="editMode('off')">&#10005;</div>
                </div>
                <div class="add-link" (click)="switchTo('form')" *ngIf="isEditShown">Add Link</div>
                <section class="add-link-form" *ngIf="isFormShown">
                    <form>
                        <input class="title" [(ngModel)]="cardTitle" type="text" name="title" placeholder="NAME" maxlength="18">
                        <!--<input class="title" [(ngModel)]="card.title" type="text" name="title" placeholder="NAME (OPTIONAL)" [appAutofocus]="true" maxlength="18">-->
                        <!--<input class="title" [(ngModel)]="link.hyperlink" type="text" name="title" placeholder="URL">-->
                        <div class="buttons">
                            <button id="create-source-button-save" (click)="switchTo('create')">Save</button>
                            <div id="cross" (click)="switchTo('create')">&#10005;</div>
                        </div>
                    </form>
                </section>
            </section>

            <section class="url-list">
                <ul>
                    <li>Testing 1</li>
                    <li>Testing 2</li>
                </ul>
            </section>
            <section class="delete" *ngIf="!isEditShown" (click)="deleteCard()">
                DELETE CARD
            </section>
        </section>
    </section>
</section>