<app-header></app-header>

<section class="main-container">

  <!--Container 1-->
  <section class="video-container">
    <article class="video-container-content">
      <span class="bold">WELCOME TO</span><br>
      <span class="ss">SOURCE STASH</span><br> Where being organised is actually fun.<br>
      <article class="video-container-btn">
        <div class="video-learn">LEARN MORE</div>
        <div class="video-login">LOGIN</div>
      </article>
    </article>

  </section>

  <!--Container 2-->
  <section class="intro-container">
    <section class="intro-container-content">
      <span class="intro-container-title">WHAT IS SOURCESTASH</span><br>SourceStash is an online platform where you can easily compile all your sources in one place like a hyperlink library
      <hr>
      <section class="intro-container-details">
        <article class="intro-container-details-content1">
          <div><img src="/assets/images/icons/no-more-lists.png" width="100px" height="100px"></div>
          <span class="intro-container-heading">NO MORE LISTS</span>
          <span class="intro-container-largetFont">Say goodbye to saving long lists of hyperlinks in coduments that you never get back to</span>
        </article>
        <article class="intro-container-details-content2">
          <div><img src="/assets/images/icons/visualisation.png" width="100px" height="100px"></div>
          <span class="intro-container-heading">SIMPLE VISUALISATION</span>
          <span class="intro-container-largetFont">Create them, group them, move them. You are in full control</span>
        </article>
        <article class="intro-container-details-content3">
          <div><img src="/assets/images/icons/share.png" width="100px" height="100px"></div>
          <span class="intro-container-heading">SHARE AND COLLABORATE</span>
          <span class="intro-container-largetFont">Share the knowledge around with others - It's a win win!</span>
        </article>
      </section>
    </section>
  </section>

  <!--Container 3-->
  <section class="feature-container">
    <section class="feature-container-content1">
      <span class="feature-container-title">HOW IT WORKS</span><br>Getting your ideas together has never been easier. In just four simple steps, become an expert in your topic!
      <hr>
      <!--number 1-->
      <section class="feature-container-details1">
        <img src="/assets/images/icons/create-account.png" width="200px" height="200px"> STEP 1<br> CREATE AN ACCOUNT
      </section>
    </section>
    <!--number 2-->
    <section class="feature-container-content2">
      <section class="feature-container-details2">
        STEP 2<br> CREATE YOUR TOPIC STASH
        <img src="/assets/images/icons/topic-stash.png" width="200px" height="200px">
      </section>
    </section>
    <!--number 3-->
    <section class="feature-container-content3">
      <section class="feature-container-details3">
        <img src="/assets/images/icons/add-source.png" width="200px" height="200px"> STEP 3<br> ADD, LINK, & GROUP SOURCES TOGETHER
      </section>
    </section>
    <!--number 4-->
    <section class="feature-container-content2">
      <section class="feature-container-details2">
        STEP 4<br> BECOME AN EXPERT!
        <img src="/assets/images/icons/become-expert.png" width="200px" height="200px">
      </section>
    </section>
    <!--number 5-->
    <section class="feature-container-content4">
      <section class="feature-container-details4">
        <button class="feature-container-getstarted">GET STARTED</button>
      </section>
    </section>
  </section>

  <!--Container 4-->
  <section class="team-container">
    <section class="team-container-content">
      <article><span class="team-container-title">OUR TEAM</span><br>Meet the creative minds behing SourceStash</article>
      <section class="team-container-details">
        <article class="team-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="60px" height="50px"></div>
          <span class="team-name">Khoi</span>
          <p>
            <span class="team-container-largerFont">Back End Developer</span>
            <br> Software Engineering Student <br> The University of Queensland <br>
        </article>
        <article class="team-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="60px" height="50px"></div>
          <span class="team-name">Jeremy</span>
          <p>
            <span class="team-container-largerFont">Front End Developer</span>
            <br> Information Technology Student <br> The University of Queensland<br>
        </article>
        <article class="team-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="60px" height="50px"></div>
          <span class="team-name">Hayden</span>
          <p>
            <span class="team-container-largerFont">Designer</span>
            <br>Cryptocurrency Analyst <br> Student Trading and Investment Association<br>
        </article>
      </section>
    </section>
  </section>

  <!--Container 5-->
  <section class="contact-container">
    <section class="contact-container-content">
      <span class="contact-container-title">CONTACT US</span><br> Submit an enquiry through our supported channels
    </section>
    <section class="contact-container-details">
      <section class="contact-container-details-form">
        <article>
          <form>
            Name<br>
            <input type="text" name="firstname">
            <p> Email<br>
              <input type="text" name="lastname">
              <p> Subject<br>
                <input type="text" name="lastname">
                <p> Message<br>
                  <input type="text" name="lastname" style="height: 15vh;">
                  <p><input class="submit" type="submit" value="Submit">
          </form>
        </article>
      </section>
      <section class="contact-container-details-detail">
        <article>
          <ul>
            <li class="left">
              Email
            </li>
            <li class="right">
              contact@sourcestash.io
            </li>
          </ul>
          <ul>
            <li class="left">
              Phone
            </li>
            <li class="right">
              04-0000-0000
            </li>
          </ul>
          <ul>
            <li class="left">
              Facebook
            </li>
            <li class="right">
              facebook.com/sourcestash
            </li>
          </ul>
          <div><img src="/assets/images/hexagon.png" width="220px" height="170px"></div>
        </article>
      </section>
    </section>

  </section>
</section>

<app-footer></app-footer>