<app-header></app-header>

<section class="main-container">

  <!--Container 1-->
  <section class="video-container">
    <article class="video-container-content">
      <span class="bold">WELCOME TO</span><br>
      <span class="ss">SOURCE STASH</span><br> Where being organised is actually fun.<br>
      <article class="video-container-btn">
        <div class="video-learn" (click)="goTo('intro')">LEARN MORE</div>
        <div class="video-login" routerLink="/login" *ngIf="!isUserLoggedIn">LOGIN</div>
      </article>
    </article>
  </section>

  <section class="section-container" id="intro">
    <section class="section-container-content">
      <span class="section-container-title">what is source stash?</span>
      <p class="section-container-headline">
        Source stash is an online platform where you can easily compile all your sources in one place like a hyperlink library!
      </p>
      <section class="section-container-details">
        <article class="section-container-details-content">
          <div><img src="/assets/images/icons/no-more-lists.png"></div>
          <span class="heading">NO MORE LISTS</span>
          <span class="content">Say goodbye to saving long lists of hyperlinks in coduments that you never get back to.</span>
        </article>
        <article class="section-container-details-content">
          <div><img src="/assets/images/icons/visualisation.png"></div>
          <span class="heading">SIMPLE VISUALISATIONS</span>
          <span class="content">Create them, group them, move them. You are in full control</span>
        </article>
        <article class="section-container-details-content">
          <div><img src="/assets/images/icons/share.png"></div>
          <span class="heading">SHARE AND COLLABORATE</span>
          <span class="content">Share the knowledge around with others - It's a win win!</span>
        </article>
      </section>
    </section>
  </section>

  <!--Container 3-->
  <section class="feature-container" id="features">
    <section class="feature-container-content">
      <span class="section-container-title">HOW IT WORKS</span>
      <p class="section-container-headline">
        Getting your ideas together has never been easier. In just four simple steps, become an expert in your topic!
      </p>
      <section class="step">
        <img src="/assets/images/icons/create-account.png" width="200px" height="200px">
        <p>
          <span>STEP 1</span>
          <span class="step">CREATE AN ACCOUNT</span>
        </p>
      </section>
    </section>
  </section>
  <section class="feature-container">
    <section class="feature-container-content">
      <section class="step">
        <p><span>Step 2</span><span class="step">create your topic stash</span></p>
        <img src="/assets/images/icons/topic-stash.png" alt="Create your topic stash">
      </section>
    </section>
  </section>
  <section class="feature-container">
    <section class="feature-container-content">
      <section class="step">
        <img src="/assets/images/icons/add-source.png" alt="">
        <p><span>Step 3</span><span class="step">ADD, LINK, & GROUP SOURCES TOGETHER</span></p>
      </section>
    </section>
  </section>
  <section class="feature-container">
    <section class="feature-container-content">
      <section class="step">
        <p><span>Step 4</span><span class="step">become an expert!</span></p>
        <img src="/assets/images/icons/become-expert.png" alt="">
      </section>
    </section>
  </section>
  <!--number 5-->
  <section class="get-started">
    <a routerLink="/login">GET STARTED</a>
  </section>

  <!--Container 4-->
  <section class="section-container" id="team">
    <section class="section-container-content">
      <span class="section-container-title">MEET THE TEAM</span>
      <p class="section-container-headline">
        We are dedicated to making your life EASIER by giving you the content you want so don't hesitate to give us feedbacks and suggestions.
      </p>
      <section class="section-container-details">
        <article class="section-container-details-content content-team">
          <a href="https://www.linkedin.com/in/khoi-phan-dang-88156888/" target="_blank">
            <img src="/assets/images/members/khoi-color.png" width="150px" height="150px">
          </a>
          <section class="person-description">
            <span class="team-container-heading">Khoi Phan</span>
            <span class="team-container-largetFont">Full-Stack Developer</span>
          </section>
        </article>
        <article class="section-container-details-content content-team">
          <a href="https://www.linkedin.com/in/jeremy-yung-hau-ng-3b048b11b/" target="_blank">
            <img src="/assets/images/members/jeremy-color.jpg" width="150px" height="150px">
          </a>
          <section class="person-description">
            <span class="team-container-heading">Jeremy Yung Hau Ng</span>
            <span class="team-container-largetFont">Front-End Developer</span>
          </section>
        </article>
        <article class="section-container-details-content content-team">
          <a href="https://www.linkedin.com/in/julia-huynh-61567113b/" target="_blank">
            <img src="/assets/images/members/julia-color.png" width="150px" height="150px">
          </a>
          <section class="person-description">
            <span class="team-container-heading">Julia Huynh</span>
            <span class="team-container-largetFont">Interface Designer</span>
          </section>
        </article>
      </section>
    </section>
  </section>
  <!--Container 5-->
  <section class="contact-container" id="contactus">
    <section class="contact-container-content">
      <span class="contact-container-title">Submit an enquiry through our supported channels</span>
      <p>
        Help us make Source Stash even better!!
        <hr>
    </section>
    <section class="contact-container-details">
      <section class="contact-container-details-form">
        <article>
          <form>
            <input type="text" name="firstname" placeholder="FULL NAME">
            <p>
              <input type="text" name="lastname" placeholder="EMAIL ADDRESS">
              <p>
                <input type="text" name="lastname" placeholder="SUBJECT">
                <p>
                  <textarea class="textarea" type="text" name="lastname" placeholder="WHAT'S YOUR ENQUIRY'"></textarea>
                  <p><input class="submit" type="submit" value="Submit">
          </form>
        </article>
      </section>
      <section class="contact-container-details-detail">
        <div class="logo"><img src="/assets/images/icons/logo.png"></div>
        <p>
          SOURCE STASH
          <p>
            <span>contact@sourcestash.io</span>
            <p>
              <article class="contact-container-details-detail-icons">
                <img src="/assets/images/icons/fb.png">
                <img src="/assets/images/icons/linkedin.png">
                <img src="/assets/images/icons/twitter.png">
              </article>
      </section>
    </section>
  </section>
</section>

<app-footer></app-footer>