@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';


.main-container {
    // Container 1
    .video-container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        height: 90vh;
        padding: 0;
        .bold {
            font-size: 24pt;
            font-weight: bold;
            margin-bottom: 7vh;
        }
        .ss{
            font-size: 64pt;
            font-weight: bold;
            margin-bottom: 5vh;
        }
        .video-container-content {
            display: block;
            width: 85vw;
            font-size: 16pt;
            text-align: center;
            .video-container-btn{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-around;
                width: 30vw;
                margin-top: 5vh;
                .video-learn, .video-login{
                    @include button-ss-dark($width: 11vw);
                    background: $theme-dark-blue;
                    color: $theme-light-orange;
                    border-color: $theme-light-orange;
                    border-radius: 0;
                    font-weight: bold;
                    &:hover{
                        background: white;
                        border: none;
                    }
                }
            }
        }
    } // Container 2
    .intro-container {
        display: flex;
        justify-content: center;
        background: $theme-white-trans;
        width: 100vw;
        padding: 5vh 0 5vh 0;
        color: black;
        .intro-container-content {
            text-align: left;
            width: 85vw;
            font-size: 14pt;
            font-weight: 300;
            hr{
            }
            .intro-container-title {
                font-weight: 300;
                font-size: 25pt;
            }
            .intro-container-details {
                padding: 0 1vw 0 1vw;
                display: flex;
                justify-content: space-between;
                text-align: center;
                .intro-container-details-content1 {
                    @include column-center;
                    background: $theme-turquoise;
                    padding: 5vh 1vw;
                    width: 26vw;
                }
                .intro-container-details-content2 {
                    @include column-center;
                    background: $theme-blue;
                    padding: 5vh 1vw;
                    width: 26vw;
                }
                .intro-container-details-content3 {
                    @include column-center;
                    background: $theme-light-orange;
                    padding: 5vh 1vw;
                    width: 26vw;
                }
                .intro-container-heading{
                    font-size: 16pt;
                }
                .intro-container-largetFont {
                    font-size: 11pt;
                    width: 15vw;
                }
                img {
                    margin-bottom: 1vh;
                    padding: 0px;
                }
            }
        }
    } // Container 3
    .feature-container {
        font-weight: 300;
        width: 100vw;
        .feature-container-content1 {
            color: white;
            padding: 5vh 7.5vw 0 7.5vw;
            width: 100%;
            text-align: left;
            background: $theme-blue;
            font-size: 14pt;
            .feature-container-title {
                font-size: 25pt;
            }
        }
        .feature-container-details1 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding: 2vh 1vw;
            width: 85vw;
            font-weight: 600;
            img{
                margin-right: 5vw;
            }
        }
        .feature-container-content2 {
            color: white;
            width: 100%;
            text-align: left;
            background: white;
            font-size: 14pt;
            .feature-container-title {
                font-size: 25pt;
            }
        }
        .feature-container-details2 {
            color: $theme-light-orange;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding: 4vh 1vw;
            width: 85vw;
            font-weight: 600;
            img{
                margin-left: 5vw;
            }
        }
        .feature-container-content3 {
            color: white;
            width: 100%;
            text-align: left;
            background: $theme-blue;
            font-size: 14pt;
            .feature-container-title {
                font-size: 25pt;
            }
        }
        .feature-container-details3 {
            color: white;
            text-align: left;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding: 4vh 1vw;
            width: 85vw;
            font-weight: 600;
            img{
                margin-right: 5vw;
            }
        }
        .feature-container-content4 {
            color: white;
            width: 100%;
            text-align: left;
            background: $theme-blue;
            font-size: 14pt;
            .feature-container-title {
                font-size: 25pt;
            }
        }
        .feature-container-details4 {
            color: white;
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            padding: 4vh 1vw;
            width: 85vw;
            font-weight: 600;
            img{
                margin-right: 5vw;
            }
            .feature-container-getstarted{
                @include button-ss-light($width: 20vw ,$verticalPadding: 1vh, $horizontalPadding: 4vw);
                color: white;
                border: white solid 1px;
                background: none;
            }
        }
    } // Container 4
    .team-container {
        background: $dark-background;
        width: 100vw;
        // padding: 4vh 0 4vh 0;
        padding: 34px 0 34px 0;
        color: $theme-white;
        text-align: center;
        .team-container-content {
            // width: 55vw;
            width: 563px;
            font-size: 11pt;
            margin: auto;
            text-align: center;
            .team-container-title {
                color: $theme-orange;
                font-size: 20pt;
            }
            .team-container-details {
                font-size: 10pt;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                // width: 54vw;
                width: 553px;
                // padding: 3vh 0 0 0;
                padding: 25px 0 0 0;
                display: flex;
                justify-content: space-between;
                .team-container-details-content {
                    // width: 16vw;
                    width: 164px;
                    font-weight: 200;
                }
                .team-name {
                    font-size: 12pt;
                    color: $theme-orange;
                }
                .team-container-largerFont {
                    font-size: 11pt;
                    font-weight: 500;
                    color: $theme-grey;
                }
                img {
                    margin: 0px;
                    padding: 0px;
                }
                p {
                    padding: 0px;
                    // margin-top: 1vh;
                    margin-top: 10px;
                }
            }
        }
    } // Container 5
    .contact-container {
        background: $light-background;
        width: 100vw;
        // padding: 4vh 0 4vh 0;
        padding: 35px 0 35px 0;
        font-size: 11pt;
        display: flex;
            justify-content: center;
            flex-direction: column;
        .contact-container-content {
            // width: 65vw;
            width: 666px;
            margin: auto;
            text-align: center;
            
            .contact-container-title {
                color: $theme-light-blue;
                font-size: 20pt;
            }
        }
        .contact-container-details {
            font-size: 10pt;
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 550px;
            // padding: 1vh 0 0 0;
            padding: 10px 0 0 0;
            .contact-container-details-form {
                text-align: left;
                width: 250px;
                // padding: 0 1vw 0 1vw;
                padding: 0 10px 0 10px;
                input[type=text],
                select {
                    margin: 0;
                    width: 225px;
                    background: $theme-light-blue;
                    color: $theme-white;
                    // height: 2vh;
                    height: 24px;
                    border: 1px solid $theme-light-blue;
                }
                .submit {
                    transition: 0.3s;
                    @include button-ss-light();
                }
            }
            .contact-container-details-detail {
                text-align: center;
                // width: 23vw;
                width: 240px;
                // padding: 0 1vw 0 1vw;
                padding: 0 10px 0 10px;
                ul {
                    list-style-type: none;
                    padding: 0px;
                    display: flex;
                    justify-content: space-between;
                }
                li {
                    text-decoration: none;
                }
                .left {
                    text-align: left;
                }
                .right {
                    text-align: right;
                }
                .contact-container-details-detail-left {
                    float: left;
                }
                .contact-container-details-detail-right {
                    float: right;
                }
                img {
                    margin-top: 3vh;
                }
            }
        }
        .contact-container-title {
            font-weight: bold;
            font-size: 16pt;
        }
    }
}

//
// tablet screen
@include media(small-screen) {
    .main-container {
    // Container 1
    .video-container {
        background: $theme-grey;
        width: 100%;
        height: 544px;
        background: $light-background;
        .bold {
            font-weight: bold;
            color: $theme-light-blue;
        }
        .video-container-content {
            display: block;
            width: 460px;
            font-size: 16pt;
            text-align: center;
            margin: auto;
            padding: 210px 0 0 0;
        }
        .video-container-buttons {
            margin: auto;
            display: flex;
            justify-content: space-around;
            margin-top: 109px;
            width: 50vw;
            text-align: center;
            font-size: 10pt;
            .feature {
                transition: 0.3s;
                @include button-ss-light(
                    $padding: 1vh 1vw,
                    $width: 15vw, 
                    $font-size: $mobile-font-content
                );
            }
            .contact {
                transition: 0.3s;
                @include button-ss-light(
                    $padding: 1vh 1vw,
                    $width: 15vw, 
                    $font-size: $mobile-font-content
                );
            }
        }
    } // Container 2
    .intro-container {
        background: $dark-background;
        width: 100vw;
        padding: 34px 0 34px 0;
        color: $theme-white;
        text-align: center;
        .intro-container-content {
            // width: 55vw
            width: 563px;
            font-size: 11pt;
            margin: auto;
            text-align: center;
            .intro-container-title {
                color: $theme-orange;
                font-size: 20pt;
            }
            .intro-container-details {
                font-size: 10pt;
                font-weight: 300;
                margin: auto;
                // width: 51vw
                width: 522px;
                // padding: 3vh 0 0 0;
                padding: 25px 0 0 0;
                display: flex;
                justify-content: space-between;
                // margin-botto: 3vh
                margin-bottom: 25px;
                .intro-container-details-content {
                    width: 143px;
                }
                .intro-container-largetFont {
                    font-size: 11pt;
                }
                img {
                    // margin-bottom: 3vh;
                    margin-bottom: 25px;
                    padding: 0px;
                }
            }
        }
    } // Container 3
    .feature-container {
        background: $light-background;
        width: 100vw;
        // padding: 4vh 0 4vh 0;
        padding: 34px 0 34px 0;
        color: black;
        text-align: center;
        .feature-container-content {
            // width: 65vw;
            width: 665px;
            margin: auto;
            font-size: 11pt;
            text-align: center;
            .feature-container-title {
                color: $theme-light-blue;
                font-size: 20pt;
            }
        }
        .feature-container-details {
            font-size: 10pt;
            font-weight: 300;
            margin: auto;
            // width: 62vw;
            width: 635px;
            // padding: 3vh 0 0 0;
            padding: 25px 0 0 0;
            display: flex;
            align-items: center;
            // margin-bottom: 3vh;
            margin-bottom: 25px;
            .feature-container-largerFont {
                font-size: 11pt;
                color: $theme-light-blue;
            }
            .feature-container-details-side-content {
                // width: 12vw;
                width: 123px;
                font-size: 10pt;
            }
            .feature-container-details-center-content {
                // width: 38vw;
                width: 400px;
            }
        }
    } // Container 4
    .team-container {
        background: $dark-background;
        width: 100vw;
        // padding: 4vh 0 4vh 0;
        padding: 34px 0 34px 0;
        color: $theme-white;
        text-align: center;
        .team-container-content {
            // width: 55vw;
            width: 563px;
            font-size: 11pt;
            margin: auto;
            text-align: center;
            .team-container-title {
                color: $theme-orange;
                font-size: 20pt;
            }
            .team-container-details {
                font-size: 10pt;
                font-weight: 300;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 0;
                // width: 54vw;
                width: 553px;
                // padding: 3vh 0 0 0;
                padding: 25px 0 0 0;
                display: flex;
                justify-content: space-between;
                .team-container-details-content {
                    // width: 16vw;
                    width: 164px;
                    font-weight: 200;
                }
                .team-name {
                    font-size: 12pt;
                    color: $theme-orange;
                }
                .team-container-largerFont {
                    font-size: 11pt;
                    font-weight: 500;
                    color: $theme-grey;
                }
                img {
                    margin: 0px;
                    padding: 0px;
                }
                p {
                    padding: 0px;
                    // margin-top: 1vh;
                    margin-top: 10px;
                }
            }
        }
    } // Container 5
    .contact-container {
        background: $light-background;
        width: 100vw;
        // padding: 4vh 0 4vh 0;
        padding: 35px 0 35px 0;
        font-size: 11pt;
        display: flex;
            justify-content: center;
            flex-direction: column;
        .contact-container-content {
            // width: 65vw;
            width: 666px;
            margin: auto;
            text-align: center;
            
            .contact-container-title {
                color: $theme-light-blue;
                font-size: 20pt;
            }
        }
        .contact-container-details {
            font-size: 10pt;
            display: flex;
            justify-content: space-between;
            margin: auto;
            width: 550px;
            // padding: 1vh 0 0 0;
            padding: 10px 0 0 0;
            .contact-container-details-form {
                text-align: left;
                width: 250px;
                // padding: 0 1vw 0 1vw;
                padding: 0 10px 0 10px;
                input[type=text],
                select {
                    margin: 0;
                    width: 225px;
                    // height: 2vh;
                    height: 24px;
                    border: 1px solid $theme-light-blue;
                }
                .submit {
                    transition: 0.3s;
                    @include button-ss-light(
                        $padding: 1vh 1vw,
                        $width: 15vw, 
                        $font-size: $mobile-font-content
                    );
                }
            }
            .contact-container-details-detail {
                text-align: center;
                // width: 23vw;
                width: 240px;
                // padding: 0 1vw 0 1vw;
                padding: 0 10px 0 10px;
                ul {
                    list-style-type: none;
                    padding: 0px;
                    display: flex;
                    justify-content: space-between;
                }
                li {
                    text-decoration: none;
                }
                .left {
                    text-align: left;
                }
                .right {
                    text-align: right;
                }
                .contact-container-details-detail-left {
                    float: left;
                }
                .contact-container-details-detail-right {
                    float: right;
                }
                img {
                    margin-top: 3vh;
                }
            }
        }
        .contact-container-title {
            font-weight: bold;
            font-size: 16pt;
        }
    }
}
}

// 
// mobile screen
@include media(mobile-screen) {
    .main-container {
        // Container 1
        .video-container {
            background: $theme-grey;
            width: 100vw;
            background: $light-background;
            padding: 0 0 5vh 0;
            .bold {
                font-weight: bold;
                color: $theme-light-blue;
                font-size: $mobile-font-heading;
            }
            .video-container-content {
                display: block;
                width: 80vw;
                font-size: 11pt;
                text-align: center;
                margin: auto;
                padding: 30vh 0 0 0;
            }
            .video-container-buttons {
                margin: auto;
                display: flex;
                width: 61vw;
                justify-content: space-around;
                margin-top: 10vh;
                text-align: center;
                font-size: 9pt;
                .feature {
                    @include button-ss-light(
                        $padding: 1vh 1vw,
                        $width: 20vw, 
                        $font-size: $mobile-font-content
                    );
                }
                .contact {
                    @include button-ss-light(
                        $padding: 1vh 1vw,
                        $width: 20vw, 
                        $font-size: $mobile-font-content
                    );
                }
            }
        } // Container 2
        .intro-container {
            background: $dark-background;
            width: 100vw;
            padding: 4vh 0;
            color: $theme-white;
            text-align: center;
            .intro-container-content {
                width: 80vw;
                font-size: $mobile-font-content;
                margin: auto;
                text-align: center;
                .intro-container-title {
                    color: $theme-orange;
                    font-size: $mobile-font-title;
                    font-weight: bold;
                }
                .intro-container-details {
                    font-size: $mobile-font-content;
                    font-weight: 300;
                    margin: auto;
                    width: 80vw;
                    padding: 3vh 0 0 0;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 3vh;
                    .intro-container-details-content {
                        width: 80vw;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 2vh 0;
                    }
                    .intro-container-largetFont {
                        font-size: $mobile-font-content;
                    }
                    img,
                    br {
                        margin: 0px;
                        padding: 0px;
                    }
                }
            }
        } // Container 3
        .feature-container {
            background: $light-background;
            width: 100vw;
            padding: 4vh 0 4vh 0;
            color: black;
            text-align: center;
            .feature-container-content {
                width: 80vw;
                margin: auto;
                font-size: $mobile-font-content;
                text-align: center;
                .feature-container-title {
                    color: $theme-light-blue;
                    font-size: $mobile-font-title;
                }
            }
            .feature-container-details {
                font-size: $mobile-font-content;
                font-weight: 300;
                margin: auto;
                width: 80vw;
                padding: 3vh 0 0 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-bottom: 3vh;
                .feature-container-largerFont {
                    font-size: $mobile-font-heading;
                    color: $theme-light-blue;
                }
                .feature-container-details-side-content {
                    width: 80vw;
                    padding: 2vh 0;
                }
                .feature-container-details-center-content {
                    display: none;
                    width: 80vw;
                }
            }
        } // Container 4
        .team-container {
            background: $dark-background;
            width: 100vw;
            padding: 4vh 0 4vh 0;
            color: $theme-white;
            text-align: center;
            .team-container-content {
                width: 80vw;
                font-size: $mobile-font-content;
                margin: auto;
                text-align: center;
                .team-container-title {
                    color: $theme-orange;
                    font-size: $mobile-font-title;
                }
                .team-container-details {
                    font-size: $mobile-font-content;
                    font-weight: 300;
                    margin: auto;
                    width: 80vw;
                    padding: 3vh 0 0 0;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .team-container-details-content {
                        width: 80vw;
                        font-weight: 200;
                        padding: 2vh 0;
                    }
                    .team-name {
                        font-size: $mobile-font-heading;
                        color: $theme-orange;
                        font-weight: bold;
                    }
                    .team-container-largerFont {
                        font-size: 11pt;
                    }
                    img {
                        margin: 0px;
                        padding: 0px;
                    }
                    p {
                        padding: 0px;
                        margin-top: 1vh;
                    }
                }
            }
        } // Container 5
        .contact-container {
            background: $light-background;
            width: 100vw;
            padding: 4vh 0 4vh 0;
            font-size: $mobile-font-content;
            .contact-container-content {
                width: 80vw;
                margin: auto;
                text-align: center;
                .contact-container-title {
                    color: $theme-light-blue;
                    font-size: $mobile-font-title;
                }
            }
            .contact-container-details {
                font-size: $mobile-font-content;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: auto;
                width: 80vw;
                padding: 1vh 0 0 0;
                .contact-container-details-form {
                    order: 2;
                    text-align: left;
                    width: 50vw;
                    padding: 0 1vw 0 1vw;
                    input[type=text],
                    select {
                        margin: 0;
                        width: 50vw;
                        height: 2vh;
                        padding-top: 1vh;
                        border: 1px solid $theme-light-blue;
                    }
                    .submit {
                        @include button-ss-light(
                            $padding: 1vh 1vw,
                            $width: 20vw, 
                            $font-size: $mobile-font-content
                        );
                    }
                }
                .contact-container-details-detail {
                    order: 1;
                    display: flex;
                    justify-content: center;
                    width: 50vw;
                    padding: 2vh 1vw 2vh 1vw;
                    ul {
                        list-style-type: none;
                        padding: 0px;
                        display: flex;
                        justify-content: space-between;
                    }
                    li {
                        text-decoration: none;
                    }
                    .left {
                        text-align: left;
                    }
                    .right {
                        text-align: right;
                    }
                    .contact-container-details-detail-left {
                        float: left;
                    }
                    .contact-container-details-detail-right {
                        float: right;
                    }
                    img {
                        margin-top: 3vh;
                        display: none;
                    }
                }
            }
            .contact-container-title {
                font-weight: bold;
                font-size: $mobile-font-title;
            }
        }
    }
}