<section id="welcome-header">
  <section id="welcome-header-content">
    <article id="header-left">
      SourceStash
    </article>
    <article id="header-right">
      <div><a routerLink="/login">Log in</a></div>
    </article>
  </section>
</section>

<section id="main-container">

  <!--Container 1-->
  <section id="video-container">
    <article id="video-container-content">
      Lorem Ipsum <span class="bold">SourceStash</span> dolor sit amet, consectetur adipiscing elit. Morbi interdum vitae
      sem eget vulputate.
    </article>
    <section id="video-container-buttons">
      <button id="feature">Features</button>
      <button id="contact">Contact</button>
    </section>
  </section>

  <!--Container 2-->
  <section id="benefit-container">
    <section id="benefit-container-content">
      <article><span class="benefit-container-title">YOUR BENEFITS</span><br> We focus on delivering great values to our users</article>
      <section id="benefit-container-details">
        <article id="benefit-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="110px" height="100px"></div>
          <span class="benefit-container-largetFont">Easily nd and save relevant resources
            for your course.</span>
        </article>
        <article id="benefit-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="110px" height="100px"></div>
          <span class="benefit-container-largetFont">Collaborate with other users on Stashes and shared resources</span>
        </article>
        <article id="benefit-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="110px" height="100px"></div>
          <span class="benefit-container-largetFont">Visualise your Stashes with our efficient Stash editor</span>
        </article>
      </section>
      <button id="benefit-container-login-button">
        <a routerLink="/login">Login</a>
      </button>
    </section>
  </section>

  <!--Container 3-->
  <section id="feature-container">
    <section id="feature-container-content">
      <article><span class="feature-container-title">OUR FEATURES</span><br> The range of things that will make your life easier</article>
      <section id="feature-container-details">
        <article id="feature-container-details-side-content">
          <span class="feature-container-largerFont">Explanation of screenshot.</span>
          <p>
            Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec massa elit, eleifend
            at augue sit amet, sodales dapibus ipsum.
        </article>
        <article id="feature-container-details-center-content">
          <div><img src="/assets/images/hexagon.png" width="400px" height="250px"></div>
        </article>
        <article id="feature-container-details-side-content">
          <span class="feature-container-largerFont">Explanation of screenshot.</span>
          <p>
            Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec massa elit, eleifend
            at augue sit amet, sodales dapibus ipsum.
        </article>
      </section>
    </section>

  </section>

  <!--Container 4-->
  <section id="team-container">
    <section id="team-container-content">
      <article><span class="team-container-title">OUR TEAM</span><br>Meet the creative minds behing SourceStash</article>
      <section id="team-container-details">
        <article id="team-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="60px" height="50px"></div>
          <span class="team-name">Khoi</span>
          <p>
            <span class="team-container-largerFont">Back End Developer</span>
            <br> Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec
            massa elit, eleifend at augue sit amet, sodales dapibus ipsum.
        </article>
        <article id="team-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="60px" height="50px"></div>
          <span class="team-name">Jeremy</span>
          <p>
            <span class="team-container-largerFont">Front End Developer</span>
            <br> Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec
            massa elit, eleifend at augue sit amet, sodales dapibus ipsum.
        </article>
        <article id="team-container-details-content">
          <div><img src="/assets/images/hexagon.png" width="60px" height="50px"></div>
          <span class="team-name">Hayden</span>
          <p>
            <span class="team-container-largerFont">Designer</span>
            <br> Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec
            massa elit, eleifend at augue sit amet, sodales dapibus ipsum.
        </article>
      </section>
    </section>
  </section>

  <!--Container 5-->
  <section id="contact-container">
    <section id="contact-container-content">
      <span class="contact-container-title">CONTACT US</span><br> Submit an enquiry through our supported channels
    </section>
    <section id="contact-container-details">
      <section id="contact-container-details-form">
        <article>
          <form>
            Name<br>
            <input type="text" name="firstname">
            <p> Email<br>
              <input type="text" name="lastname">
              <p> Subject<br>
                <input type="text" name="lastname">
                <p> Message<br>
                  <input type="text" name="lastname" style="height: 15vh;">
                  <p><input id="submit" type="submit" value="Submit">
          </form>
        </article>
      </section>
      <section id="contact-container-details-detail">
        <article>
          <ul>
            <li id="left">
              Email
            </li>
            <li id="right">
              contact@sourcestash.io
            </li>
          </ul>
          <ul>
            <li id="left">
              Phone
            </li>
            <li id="right">
              04-0000-0000
            </li>
          </ul>
          <ul>
            <li id="left">
              Facebook
            </li>
            <li id="right">
              facebook.com/sourcestash
            </li>
          </ul>
          <div><img src="/assets/images/hexagon.png" width="300px" height="170px"></div>
        </article>
      </section>
    </section>

  </section>
</section>

<app-footer></app-footer>