<div id="welcome-header">
  <div id="header-left">
    LOGO
  </div>
  <div id="header-right">
    <ul>
      <li><a routerLink="/login">Sign In </a></li>
      <li><a routerLink="/login">Sign Up </a></li>
    </ul>
  </div>
</div>

<div id="main-container">
  <!--For the sign up row-->
  <div id="container1">
    <div id="texting">
      <h1>Lorem Ipsum</h1>
      <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam leo, sodales a tempor nec, mollis eget
      dui. Curabitur a blandit dolor, in placerat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Vestibulum aliquet odio porttitor ex molestie
    </div>
    <div id="imaging">
      <h1> IMG </h1>
    </div>
  </div>
  <!--For the content 1 row-->
  <div id="container2">
    <div id="title">
      <h1>title</h1>
    </div>
    <div id="container2-content">
      <div id="texting">
        <h1>Lorem Ipsum</h1>
        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam leo, sodales a tempor nec, mollis eget
        dui. Curabitur a blandit dolor, in placerat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Vestibulum aliquet odio porttitor ex molestie
      </div>
      <div id="imaging">
        <h1> IMG </h1>
      </div>
    </div>
  </div>
  <!-- For the content 2 row -->
  <div id="container1">
    <div id="imaging">
      <h1> IMG </h1>
    </div>
    <div id="texting">
      <h1>Lorem Ipsum</h1>
      <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam leo, sodales a tempor nec, mollis eget
      dui. Curabitur a blandit dolor, in placerat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
      per inceptos himenaeos. Vestibulum aliquet odio porttitor ex molestie
    </div>
  </div>
  <div id="container2">
    <h1>Contact Us</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam leo, sodales a tempor nec, mollis eget
      dui. Curabitur a blandit dolor
  </div>
</div>