<div id="welcome-header">
  <div id="header-left">
    <h1>SourceStash</h1>
  </div>
  <div id="header-right">
    <ul>
      <li><a routerLink="/login">Log in</a></li>
      <li><a routerLink="/login">Sign Up</a></li>
    </ul>
  </div>
</div>

<div id="main-container">
  <!--For the sign up row-->
  <div id="container1">
    <div id="container1_content">
      Lorem Ipsum <span class="bold">SourceStash</span> dolor sit amet, consectetur adipiscing elit. Morbi interdum vitae
      sem eget vulputate.
    </div>
    <div id="container1_buttons">
      <ul>
        <li>
          Features
        </li>
        <li>
          Contact
        </li>
      </ul>
    </div>
  </div>
  <div id="container2">
    <div id="container2_content">
      <span class="container_title">Benefits</span><br> Benefits Detailed Below.
      <div id="container2_benefits">
        <ul>
          <li>
            <img src="/assets/images/hexagon.png" width="60px" height="50px"> <br>
            <span class="container2_benefits_largetFont">Easily nd and save relevant resources
            for your course.</span>
            <p>
              Donec eget arcu ut justo varius placerat. Donec maximus orci nec suscipit volut- pat. Fusce vitae dignissim ipsum. In diam
              eros, lacinia consequat massa at, pellen- tesque.
          </li>
          <li>
            <img src="/assets/images/hexagon.png" width="60px" height="50px"> <br>
            <span class="container2_benefits_largetFont">Easily nd and save relevant resources
            for your course.</span>
            <p>
              Donec eget arcu ut justo varius placerat. Donec maximus orci nec suscipit volut- pat. Fusce vitae dignissim ipsum. In diam
              eros, lacinia consequat massa at, pellen- tesque.
          </li>
          <li>
            <img src="/assets/images/hexagon.png" width="60px" height="50px"> <br>
            <span class="container2_benefits_largetFont">Easily nd and save relevant resources
            for your course.</span>
            <p>
              Donec eget arcu ut justo varius placerat. Donec maximus orci nec suscipit volut- pat. Fusce vitae dignissim ipsum. In diam
              eros, lacinia consequat massa at, pellen- tesque.
          </li>
        </ul>
      </div>
      <div id="container2_signup">
        Sign Up
      </div>
    </div>

  </div>
  <div id="container3">
    <div id="container3_content">
      <span class="container_title">Features</span><br> App Screenshots/Features Below.
      <div id="container3_features">
        <ul>
          <li>
            <span class="container3_features_largetFont">Explanation of screenshot.</span>
            <p>
              Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec massa elit, eleifend
              at augue sit amet, sodales dapibus ipsum.
          </li>
          <li class="container3_image">
            <img src="/assets/images/hexagon.png" width="400px" height="250px">
          </li>
          <li>
            <span class="container3_features_largetFont">Explanation of screenshot.</span>
            <p>
              Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec massa elit, eleifend
              at augue sit amet, sodales dapibus ipsum.
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div id="container4">
    <div id="container4_content">
      <span class="container_title">Our Team</span><br> Meet the creative mind behind SourceStash
      <div id="container4_ourTeam">
        <ul>
          <li>
            <img src="/assets/images/hexagon.png" width="100px" height="100px"> <br>
            <span class="bold">Khoi</span>
            <p>
              <span class="container4_ourTeam_largetFont">Back End Developer</span>
              <br> Donec semper arcu ut tempus fermentum. Vestib- ulum eget sem posuere diam viverra suscipit. Mae- cenas
              pharetra tellus ac metus aliquam gravida.
          </li>
          <li>
            <img src="/assets/images/hexagon.png" width="100px" height="100px"> <br>
            <span class="bold">Jeremy</span>
            <p>
              <span class="container4_ourTeam_largetFont">Front End Developer</span>
              <br> Donec semper arcu ut tempus fermentum. Vestib- ulum eget sem posuere diam viverra suscipit. Mae- cenas
              pharetra tellus ac metus aliquam gravida.
          </li>
          <li>
            <img src="/assets/images/hexagon.png" width="100px" height="100px"> <br>
            <span class="bold">Hayden</span>
            <p>
              <span class="container4_ourTeam_largetFont">Designer</span>
              <br> Donec semper arcu ut tempus fermentum. Vestib- ulum eget sem posuere diam viverra suscipit. Mae- cenas
              pharetra tellus ac metus aliquam gravida.
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div id="container5">
    <div id="container5_content">
      <span class="container_title">Contact</span><br> Submit an enquiry through our supported channels
      <ul>
        <li>
          <form>
            Name<br>
            <input type="text" name="firstname">
            <p> Email<br>
            <input type="text" name="lastname">
            <p> Subject<br>
            <input type="text" name="lastname">
            <p> Message<br>
            <input type="text" name="lastname" style="height: 15vh;">
          </form>
        </li>
        <li class="detail">
          <ul>
            <li class="detail_left">
              Email
            </li>
            <li class="detail_right">
              contact@sourcestash.io
            </li>
          </ul>
          <ul>
            <li class="detail_left">
              Phone
            </li>
            <li class="detail_right">
              04-0000-0000
            </li>
          </ul>
          <ul>
            <li class="detail_left">
              Facebook
            </li>
            <li class="detail_right">
              facebook.com/sourcestash
            </li>
          </ul>
          <img src="/assets/images/hexagon.png" width="350px" height="200px">
        </li>
      </ul>
    </div>

  </div>
</div>

<footer>
  Copyright © 2017 SourceStash. All rights reserved. Links to social media go here.
</footer>