.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80vw;
}


/* The Close Button */

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#main-container {
    width: 100vw;
    display: flex;
    #left-container {
        position: relative;
        width: 80vw;
        height: 90vh;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        .source {}
        #sourceData {
            $width: 17vh;
            $height: 15vh;
            // padding: 1vh 1vw;
            width: $width;
            height: $height;
            display: flex !important;
            align-items: center;
            justify-content: center;
            background-image: url("/assets/images/hexagon.png");
            background-size: $width $height;
            background-repeat: no-repeat;
        }
    }
}

.source {
    $width: 17vh;
    $height: 15vh;
    // padding: 1vh 1vw;
    width: $width;
    height: $height;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/hexagon.png");
    background-size: $width $height;
    background-repeat: no-repeat;
}

.root {
    position: relative;
    left: 50%;
    top: 50%;
}

#right-container {
    background: #304269;
    color: #91BED4;
    width: 20vw;
    height: 90vh;
    // A list of sources and stashes
    .top_list {
        font-size: 16pt;
        margin: 0px;
        list-style-type: none;
        display: flex;
        border: 1px solid black;
    }
    .top_item {
        padding: 1vh 0;
        width: 100vw;
    }
    // A container containing buttons for creating sources and stashes
    #bottom {
        position: absolute;
        bottom: 1vh;
    }
    .bottom_list {
        list-style-type: none;
        width: 20vw;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }
    .bottom_item {
        display: block;
        #createStash,
        #createForm {
            background-color: #333;
            color: white;
            text-align: center;
            border: white solid 1px;
            width: 9vw;
            padding: 2vh 0 2vh 0;
            text-decoration: none;
        }
    }
}

// For the popup form
.createForm {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    /* Modal Content */
    .createForm-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80vw;
    }
}


/* The Close Button */

#close,
#x {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus,
#x:hover,
#x:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}