<app-header></app-header>
<canvas #canvas id="canvas"></canvas>

<section id="main-container">
    <section id="left-container">
        
        <!--<div [id]="currentSource.title" class="createForm">-->
            <!-- Modal content -->
            <!--<div class="createForm-content">-->
                 <!--the (x) button -->
                <!--<div id="close">&times;</div>-->
                <!--Testing for popups-->
                <!--<p>{{currentSource.title}}</p>
                {{currentSource.Description}}-->
            <!--</div>-->
        <!--</div>-->

        <article *ngFor="let source of sources; let last = last" [id]="source.source_id" [style.left]="source.xPosition" [style.top]="source.yPosition"
            class="source">
            <button [id]="source.source_id" (click)="selectCurrentSource(source,source.source_id)">{{source.title}}</button>

            <!--<app-popup [sourceID]=source.source_id [sourceTitle]=source.title [sourceDescription]=source.description></app-popup>-->
            <!--{{source.source_id}}-->
        </article>
    </section>

    <!--For the list containing the stashes and sources-->
    <section id="right-container">
        <section id="right-container-content">
            <section id="right-container-stash">
                <article id="right-container-stash-title">
                    Test Root Source
                </article>

                <section>
                    <collapsible-list [type]="'expandable'">

                        <collapsible-list-item>
                            <collapsible-header id="right-container-stash-subheader">
                                Item #1
                            </collapsible-header>
                            <!--collapsible-body can be multiple using ngFor-->
                            <collapsible-body [expanded]="false" id="right-container-stash-content">
                                <p>Item #1 Body</p>
                            </collapsible-body>
                        </collapsible-list-item>
                        <collapsible-list-item>
                            <collapsible-header id="right-container-stash-subheader">
                                Item #2
                            </collapsible-header>
                            <collapsible-body [expanded]="false" id="right-container-stash-content">
                                <p>Item #2 Body</p>
                            </collapsible-body>
                        </collapsible-list-item>
                    </collapsible-list>
                </section>

            </section>
            <!--<section id="right-container-comment">
                
            </section>-->

            <section id="right-container-sidebar">
                <div id="right-container-sidebar-stashbtn">
                    STH
                </div>
                <div id="right-container-sidebar-commentbtn">
                    CMT
                </div>
            </section>
            <!--For the stash and source creation button-->
            <section id="bottom">
                <ul class="bottom_list">
                    <li class="bottom_item">
                        <button id="createStash">Create Stash</button>

                        <!-- The Modal -->
                        <div id="stashForm" class="createForm">

                            <!-- Modal content -->
                            <div class="createForm-content">
                                <!-- the (x) button -->
                                <div id="x">&times;</div>
                                <p>create the form inside here</p>
                            </div>
                        </div>
                    </li>
                    <li class="bottom_item">
                        <button id="createForm">Create Source</button>

                        <!-- The Modal -->
                        <div id="sourceForm" class="createForm">

                            <!-- Modal content -->
                            <div class="createForm-content">
                                <!-- the (x) button -->
                                <div id="close">&times;</div>
                                <ul>
                                    <li>
                                        <span class="form-title-bold">Title:<br></span> Source 1
                                        <p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span class="form-title-bold">Difficulty:<br></span> Intermediate
                                        <p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span class="form-title-bold">Tags:<br></span> Web Development
                                        <p>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <span class="form-title-bold">Description<br></span> Lorem Ipsum dolor sit amet,
                                        consectur adipiscing elit.
                                        <p>
                                    </li>
                                </ul>
                                <div id="create-source-button">
                                    Create New Source
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </section>
</section>

<app-footer></app-footer>