// header
$headerHeight: 7vh;
$headerBG: #304269;
$headerFont: whitesmoke;
$headerFontSize: 10pt;

// main container
$mainContainerBG: rgba(145,190,212, 0.5);
$mainContainerHeight: 93vh;

#header{
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    height: $headerHeight;
    background: $headerBG;
    text-align: center;
    text-shadow: 2px 2px #222; 
    a{
        text-decoration: none;
        color: $headerFont;
        
    } 
    ul{
        font-size: $headerFontSize;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        display: flex;
    }
    li {
        padding: 0 1vw;
        width: 15vw;
    }   
}

#mainContianer{
    height: $mainContainerHeight;
    background: $mainContainerBG;
    display: flex;
    justify-content: center;
    #mainContainer_content{
        padding: 2vh 2vw;
        margin-top: 7vh;
        height: 30vh;
        width: 40vw;
        border: black solid 1px;
        background: rgba(255,255,255,0.7);
        text-align: center;
        #title{
            font-size: 20pt;
            padding: 5vh 0;
        }
        #loginButton{
            .button{
                cursor: pointer;
                border: none;
                font-size: 8pt;
                padding: 4vh 4vw;
                background: lightgray;
            }
        }
    }
}
