@import '../sass/variables';
@import '../sass/mixins';
// top container 
// height:  28vh;

// bottom container
// height: 65vh;

#main-container{
    height: $main-container-height;
    #top-container{
    color: $theme-light-blue;
    height: 24vh;
    display: flex;
    justify-content: center;
        #top-container-content{
            width: 61vw;
            display: flex;
            padding: 4vh 1vw;
            font-size: 11pt;
            // box-shadow: 1px 7px 30px $theme-blueberry;
            margin-top: 2vh;
            margin-bottom: 2vh;
            #top-container-content-left{
                display: flex;
                align-items: center;
                #top-container-content-left-img{
                    width: 20vh;
                    height: 20vh;
                    display: flex;
                    color: $theme-white;
                    justify-content: center;
                    align-items: center;
                    border: $theme-light-blue solid 2px;
                    background: $theme-dark-grey;
                }
            }
            #top-container-content-right{
                padding: 0 1vw;
                #top-container-content-right-tab{
                    margin: auto;
                    // box-shadow: 1px 7px 30px $theme-blueberry;
                    color: $theme-white;
                    display: flex;
                    justify-content: space-between;
                    height: 7vh;
                    background: $theme-dark-grey;
                    width: 48vw;
                    #top-container-content-right-tab-content{
                            display: flex;
                            #top-container-content-right-tab-content-profile{
                            cursor: pointer;
                            height: 7vh;
                            display: flex;
                            align-items: center;
                            padding: 0 2vw;
                            transition: 0.3s;
                                &:hover{
                                    background: darken($theme-blueberry, 5);
                                    color: $theme-orange;
                                }
                            }
                            #top-container-content-right-tab-content-stashes{
                                cursor: pointer;
                                height: 7vh;
                                display: flex;
                                align-items: center;
                                padding: 0 2vw;
                                transition: 0.3s;
                                &:hover{
                                    background: darken($theme-blueberry, 5);
                                    color: $theme-orange;
                                }
                            }
                            #top-container-content-right-tab-content-settings{
                                cursor: pointer;
                                height: 7vh;
                                display: flex;
                                align-items: center;
                                padding: 0 2vw;
                                transition: 0.3s;
                                &:hover{
                                    background: darken($theme-blueberry, 5);
                                    color: $theme-orange;
                                }
                            }
                        }
                    }
                h1{
                    margin: 0 0 6vh 0;
                    font-weight: bold;
                    color: $theme-dark-grey;
                    font-size: 16pt;
                }
            }
        }
    }

    #bottom-container{
        display: flex;
        justify-content: center;
        #bottom-container-content{
            width: 100vw;
            #bottom-container-content-detail{
                border: black solid 1px;
                // box-shadow: 1px 7px 30px $theme-blueberry;
                margin: auto;
                width: 61vw;
                color: black;
                padding: 1vh 1vw;
                height: 53vh;
                #bottom-container-content-detail-stashes{
                }
                #bottom-container-content-detail-settings{
                }
                #bottom-container-content-detail-create{
                }
            }
        }
    }
}

//
// tablet screen
@include media(small-screen){
    #main-container{
    height: $main-container-height;
    #top-container{
        color: $theme-light-blue;
        height: 24vh;
        display: flex;
        justify-content: center;
            #top-container-content{
                width: 80vw;
                display: flex;
                padding: 4vh 1vw;
                font-size: 11pt;
                // box-shadow: 1px 7px 30px $theme-blueberry;
                margin-top: 2vh;
                margin-bottom: 2vh;
                #top-container-content-left{
                    display: flex;
                    align-items: center;
                    #top-container-content-left-img{
                        width: 20vh;
                        height: 20vh;
                        display: flex;
                        color: $theme-white;
                        justify-content: center;
                        align-items: center;
                        border: $theme-light-blue solid 2px;
                        background: $theme-dark-grey;
                    }
                }
                #top-container-content-right{
                    padding: 0 1vw;
                    #top-container-content-right-tab{
                        margin: auto;
                        // box-shadow: 1px 7px 30px $theme-blueberry;
                        color: $theme-white;
                        display: flex;
                        justify-content: space-between;
                        height: 7vh;
                        background: $theme-dark-grey;
                        width: 61vw;
                        #top-container-content-right-tab-content{
                                display: flex;
                                #top-container-content-right-tab-content-profile{
                                cursor: pointer;
                                height: 7vh;
                                display: flex;
                                align-items: center;
                                padding: 0 2vw;
                                transition: 0.3s;
                                    &:hover{
                                        background: darken($theme-blueberry, 5);
                                        color: $theme-orange;
                                    }
                                }
                                #top-container-content-right-tab-content-stashes{
                                    cursor: pointer;
                                    height: 7vh;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 2vw;
                                    transition: 0.3s;
                                    &:hover{
                                        background: darken($theme-blueberry, 5);
                                        color: $theme-orange;
                                    }
                                }
                                #top-container-content-right-tab-content-settings{
                                    cursor: pointer;
                                    height: 7vh;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 2vw;
                                    transition: 0.3s;
                                    &:hover{
                                        background: darken($theme-blueberry, 5);
                                        color: $theme-orange;
                                    }
                                }
                            }
                        }
                    h1{
                        margin: 0 0 6vh 0;
                        font-weight: bold;
                        color: $theme-dark-grey;
                        font-size: 16pt;
                    }
                }
            }
        }

        #bottom-container{
            display: flex;
            justify-content: center;
            #bottom-container-content{
                width: 100vw;
                #bottom-container-content-detail{
                    border: black solid 1px;
                    // box-shadow: 1px 7px 30px $theme-blueberry;
                    margin: auto;
                    width: 80vw;
                    color: black;
                    padding: 1vh 1vw;
                    height: 53vh;
                    #bottom-container-content-detail-stashes{
                    }
                    #bottom-container-content-detail-settings{
                    }
                    #bottom-container-content-detail-create{
                    }
                }
            }
        }
    }
}

//
// mobile screen
@include media(mobile-screen){
    #main-container{
    height: $main-container-height;
    overflow-y: scroll;
    #top-container{
        color: $theme-light-blue;
        justify-content: center;
        height: 40vh;
            #top-container-content{
                padding: 0;
                width: 80vw;
                display: flex;
                flex-direction: column;
                font-size: 11pt;
                // box-shadow: 1px 7px 30px $theme-blueberry;
                margin-top: 2vh;
                margin-bottom: 2vh;
                #top-container-content-left{
                    margin: auto;
                    #top-container-content-left-img{
                        width: 20vh;
                        height: 20vh;
                        display: flex;
                        color: $theme-white;
                        justify-content: center;
                        align-items: center;
                        border: $theme-light-blue solid 2px;
                        background: $theme-dark-grey;
                    }
                }
                #top-container-content-right{
                    padding: 0 1vw;
                    #top-container-content-right-tab{
                        margin: auto;
                        // box-shadow: 1px 7px 30px $theme-blueberry;
                        color: $theme-white;
                        display: flex;
                        justify-content: center;
                        height: 7vh;
                        background: $theme-dark-grey;
                        width: 61vw;
                        #top-container-content-right-tab-content{
                                display: flex;
                                #top-container-content-right-tab-content-profile{
                                cursor: pointer;
                                height: 7vh;
                                display: flex;
                                align-items: center;
                                padding: 0 2vw;
                                transition: 0.3s;
                                    &:hover{
                                        background: darken($theme-blueberry, 5);
                                        color: $theme-orange;
                                    }
                                }
                                #top-container-content-right-tab-content-stashes{
                                    cursor: pointer;
                                    height: 7vh;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 2vw;
                                    transition: 0.3s;
                                    &:hover{
                                        background: darken($theme-blueberry, 5);
                                        color: $theme-orange;
                                    }
                                }
                                #top-container-content-right-tab-content-settings{
                                    cursor: pointer;
                                    height: 7vh;
                                    display: flex;
                                    align-items: center;
                                    padding: 0 2vw;
                                    transition: 0.3s;
                                    &:hover{
                                        background: darken($theme-blueberry, 5);
                                        color: $theme-orange;
                                    }
                                }
                            }
                        }
                    h1{
                        display: none;
                        margin: 0 0 6vh 0;
                        font-weight: bold;
                        color: $theme-dark-grey;
                        font-size: 16pt;
                    }
                }
            }
        }

        #bottom-container{
            display: flex;
            justify-content: center;
            padding: 0 1vw 1vh 0;
            #bottom-container-content{
                width: 100vw;
                #bottom-container-content-detail{
                    border: black solid 1px;
                    // box-shadow: 1px 7px 30px $theme-blueberry;
                    margin: auto;
                    width: 80vw;
                    color: black;
                    padding: 1vh 1vw;
                    height: 53vh;
                    #bottom-container-content-detail-stashes{
                    }
                    #bottom-container-content-detail-settings{
                    }
                    #bottom-container-content-detail-create{
                    }
                }
            }
        }
    }
}