<app-header></app-header>

<section class="main-container">
    <section class="top-container">
        <section class="top-container-content">
            <article class="top-container-content-left">
                <div class="top-container-content-left-img">
                    Profile pic
                </div>
            </article>
            <article class="top-container-content-right">
                <h1> John Doe</h1>
                <section class="top-container-content-right-tab">
                    <section class="top-container-content-right-tab-profile" (click)="clickTab('clickProfile')">
                        Profile
                    </section>
                    <article class="top-container-content-right-tab-stashes" (click)="clickTab('clickStash')">
                        Stashes
                    </article>
                    <!--<article class="top-container-content-right-tab-settings" (click)="clickTab('clickSetting')">
                        Settings
                    </article>-->
                </section>
            </article>
        </section>
    </section>

    <section class="bottom-container">
        <section class="bottom-container-detail">
            <section class="bottom-container-detail-profile" *ngIf="isProfileClicked">
                <!--need to change the class name-->
                <section class="bottom-container-detail-profile-data" *ngIf="userAccount">
                    <section class="bottom-container-detail-profile-data-left">
                        <ul>
                            <li>
                                <ul class="data">
                                    <li><span>Stashes:</span></li>
                                    <li><span>3</span></li>
                                </ul>
                            </li>
                            <li>
                                <ul class="data">
                                    <li><span>Likes:</span></li>
                                    <li><span>10</span></li>
                                </ul>
                            </li>
                            <li>
                                <ul class="data">
                                    <li><span>Collaborators:</span></li>
                                    <li><span>30</span></li>
                                </ul>
                            </li>
                        </ul>
                    </section>

                    <section class="bottom-container-detail-profile-data-right">
                        <ul>
                            <li>
                                <p>
                                <span>University:</span><br>
                                <span class="bold">JohnDoe Uni {{userAccount.username}}</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                <span>Studying:</span><br>
                                <span class="bold">JohnDoe Bachelor {{userAccount.username}}</span>
                                </p>
                            </li>
                        </ul>
                    </section>
                </section>
            </section>
            <article class="bottom-container-detail-stashes" *ngIf="isStashesClicked">
                stashes
            </article>
            <!--<article class="bottom-container-detail-settings" *ngIf="isSettingsClicked">
                settings
            </article>-->
        </section>
    </section>
</section>

<app-footer></app-footer>