@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';

// For the popup form
#main-container {
    /* Modal Content */
    #main-container-content {
        @include column-center;
        box-shadow: 1px 7px 30px $theme-dark-grey;
        height: auto;
        background: rgba(255,255,255,0.9);
        border: 1px solid #888;
        width: 25vw;
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
        li {
            font-size: 10pt;
        }
        #main-container-content-heading {
            width: 100%;
            @include row-center();
            justify-content: space-between;
            font-weight: bold;
            background: $theme-light-orange;
            color: $theme-white;
            padding: 1vh 2vw;
            .heading {
                font-size: 12pt;
            }
            .cross {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-detail {
            width: 100%;
            padding: 1vh 2vw;
            input[type=text],
            select {
                @include column-center();
                border: $theme-font-light-grey solid 2px;
                background: white;
                padding: 1vh 1vw;
                text-align: left;
                height: 2.5vh;
                color: $theme-font-grey;
                width: 92%;
                font-size: 12pt;
            }
            input:focus {
                border: $theme-light-orange solid 2px;
            }
            label {
                font-size: 12pt;
                font-weight: 600;
                color: $theme-dark-grey;
            }
            select {
                display: block;
            }
            .difficulty {
                height: 4vh;
                border-radius: 0px;
                margin-bottom: 10px;
            }
            .description {
                border: $theme-font-light-grey solid 2px;
                width: 103%;
                padding: 1vh 0;
                height: 20vh;
                margin-bottom: 10px;
            }
        }
        #create-source-button {
            @include button-ss-orange($width: 11vw);
            margin: auto;
            font-weight: 300;
            font-size: 12pt;
            margin-bottom: 1vh;
        }
    }
}

// 
// tablet version
@include media(small-screen){
    #main-container {
        /* Modal Content */
        #main-container-content {
            width: 40vw;
            #main-container-content-detail {
                .description {
                    width: 100%;
                }
            }
            #create-source-button {
                @include button-ss-orange($width: 25%, $height: 42px);
                margin: auto;
                font-weight: 300;
                font-size: 12pt;
                margin-bottom: 1vh;
            }
        }
    }
}

// 
// mobile version
@include media(mobile-screen){
    #main-container {
        /* Modal Content */
        #main-container-content {
            width: 60vw;
            #main-container-content-heading {
                display: flex; 
                flex-direction: row;
            }
            #main-container-content-detail {
                .description {
                    width: 100%;
                }
            }
            #create-source-button {
                @include button-ss-orange($width: 25%, $height: 42px);
                margin-bottom: 1vh;
                font-size: 6pt;
            }
        }
    }
}