@import '../sass/variables';

#tab-name{
    background: $theme-light-blue;
    ul{
    width: 61vw;
    margin: 0 auto 0 auto;
    font-size: 14pt;
    list-style-type: none;
    display: flex;
    background: $theme-light-blue;
    height: 7vh;
    justify-content: flex-start;
    padding: 0px;
    align-items: center;
    color: $theme-white;
    }
        
    li {
        width: 10vw;
    }   
    #create-stash-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;
        background: $theme-orange;
    }
}


