ul{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 16pt;
    margin: 0px;
    list-style-type: none;
    display: flex;
    background: black;
    padding: 0 1vw;
}
    
li {
    padding: 1vh 1vw;
}   