<section id="main-container">
    <section id="main-container-content">
        <article id="main-container-content-heading">
            <span class="heading-title">New stash</span><span (click)="closePopup()">&times;</span>
        </article>
        <article id="main-container-content-form">
            <form>
                <input class="title" [(ngModel)]="stashTitle" type="text" name="title" placeholder="TITLE" [appAutofocus]="true">
                <button id="create-source-button" (click)="addStash()">ADD STASH</button>
            </form>
        </article>
    </section>
</section>