@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';

#main-container {
    color: black;
    display: flex;
    justify-content: center;
    #main-container-content {
        box-shadow: 1px 7px 30px $theme-dark-grey;
        background: white;
        border-radius: 10px;
        width: 40vw;
        #main-container-content-heading {
            @include row-center();
            justify-content: space-between;
            font-weight: bold;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background: $theme-dark-grey;
            color: white;
            padding: 1vh 2vw;
            span.heading-title {
                text-transform: uppercase;
            }
            span:last-child {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 2vh 2vw;
            font-weight: bold;
            font-size: 10pt;
            .title {
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                padding: 1vh 0;
                height: 2vh;
                margin-bottom: 10px;
                width: 100%;
            }
            .description {
                width: 100%;
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                font-weight: normal;
                padding: 1vh 0;
                height: 20vh;
                margin-bottom: 10px;
            }
            #create-source-button {
                @include button-ss-light();
                margin: auto;
            }
        }
    }
}

//
// mobile version
@include media(mobile-screen){
    #main-container {
        #main-container-content {
            width: 60vw;
            #main-container-content-heading {
                display: flex;
                flex-direction: row;
            }
            #main-container-content-form {
                #create-source-button {
                    @include button-ss-light($width: 20vw);
                    margin: auto;
                    font-size: 6pt;
                }
            }
        }
    }
}