<section id="main-container">
    <section id="main-container-content">
        <article id="main-container-content-heading">
            <span>Add a Stash</span><span (click)="closePopup()">&times;</span>
        </article>
        <article id="main-container-content-form">
            <form>
                Title<br>
                <input class="title" type="text" name="title">
                <p>

                    Description<br>
                    <textarea class="description" name="description"></textarea>

                    <div id="create-source-button">
                        Create
                    </div>
            </form>
        </article>
    </section>
</section>