<section id="main-container">
    <section id="main-container-content">
        <article id="main-container-content-heading">
            <span class="heading-title">New stash</span><span (click)="closePopup()">&times;</span>
        </article>
        <article id="main-container-content-form">
            <form>
                <label for="title">Title</label>
                <input class="title" [(ngModel)]="stashTitle" type="text" name="title">
                <label for="description">Description</label>
                <textarea class="description" [(ngModel)]="stashDescription" name="description"></textarea>

                <button id="create-source-button" (click)="addStash()">Create</button>
            </form>
        </article>
    </section>
</section>