@import '../sass/variables';
@import '../sass/mixins';
canvas {
    position: absolute;
    top: 0;
    z-index: -10;
}

div.wrapper {
    position: relative;
    z-index: 1;
    app-header,
    app-footer {
        position: relative;
        z-index: 10 !important;
    }
    section.all-modals {
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        @include column-center();
    }
}

.main-container {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: $main-container-height;
    display: flex;
    #left-container {
        position: relative;
        z-index: 1;
        width: 80vw;
        height: 90vh;
        text-align: center;
        display: block;
        .popups {
            display: none;
        }
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
        .source {
            $width: 17vh;
            $height: 15vh;
            position: absolute;
            width: $width;
            height: $height;
            display: flex !important;
            align-items: center;
            z-index: 1;
            justify-content: center;
            background-image: url("/assets/images/hexagon.png");
            background-size: $width $height;
            background-repeat: no-repeat;
        }
        .root {
            position: relative; // left: 45% !important;
            // top: 45% !important;
        }
    }
    .right-container {
        background: $theme-dark-grey;
        color: $theme-white;
        width: 20vw;
        height: 86vh;
        z-index: 2;
        .bold{
            font-weight: bold;
            color: $theme-grey;
        }
        .right-container-content {
            display: flex;
            .right-container-stash {
                border: 1px solid $theme-white;
                width: 17vw; // A list of sources and stashes
                background: lighten($theme-dark-grey, 10);
                .right-container-stash-title {
                    background: $theme-dark-grey;
                    font-size: 14pt;
                    height: 5vh;
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 2vw;
                    border-bottom: white solid 1px;
                    img{
                        cursor: pointer;
                        &:hover {
                            border-color: rgba(255, 255, 255, 0.6);
                            cursor: pointer;
                        }
                    }
                    // span {
                    //     margin: 10px 20px;
                    //     &:last-child {
                    //         padding: 0 5px;
                    //         margin: 0 20px 0 0;
                    //         border: 1px solid rgba(0, 0, 0, 0);
                    //         
                    //     }
                    // }
                }
                .right-container-stash-details {
                    article {
                        h2 {
                            font-size: 15px;
                            margin: 20px;
                        }
                        p {
                            margin: 10px 40px;
                        }
                    }
                }
            }
            .right-container-source {
                background: lighten($theme-dark-grey,10);
                border: 1px solid $theme-white;
                width: 17vw;
                .right-container-source-title {
                    background: $theme-dark-grey;
                    border-bottom: $theme-white solid 1px;
                    font-size: 14pt;
                    height: 5vh;
                    font-weight: bold;
                    display: flex;
                    padding: 0 2vw;
                    align-items: center;
                }
                .right-container-source-list{
                    .right-container-stash-subheader {
                        display: flex;
                        justify-content: flex-start;
                        overflow: hidden;
                        align-items: center;
                        font-size: 10pt;
                        color: black;
                        display: block;
                        cursor: pointer;
                        height: 1vh;
                        background-color: #fff;
                        border-bottom: 1px solid #ddd;
                        padding: 0 2vw;
                    }
                    .right-container-stash-content {
                        font-size: 10pt;
                        overflow: hidden;
                        padding: 0 2vw;
                        p {
                            margin: 0;
                            padding: 1vh 0;
                        }
                    }
                }
            }
            .right-container-collaborate {
                background: lighten($theme-dark-grey,10);
                border: 1px solid $theme-white;
                width: 17vw;
                .right-container-collaborate-title {
                    background: $theme-dark-grey;
                    border-bottom: $theme-white solid 1px;
                    font-size: 14pt;
                    height: 5vh;
                    font-weight: bold;
                    display: flex;
                    padding: 0 2vw;
                    align-items: center;
                }
            }
            .right-container-sidebar {
                width: 3vw;
                height: 86vh;
                background: $theme-dark-grey;
                color: $theme-white;
                border: white solid 1px;
                .right-container-sidebar-stashbtn {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 6vh;
                    border-top: 1px solid $theme-white;
                    border-bottom: 1px solid $theme-white;
                    transition: 0.3s;
                    &:hover{
                        background: lighten($theme-dark-grey, 10);
                    }
                }
                .right-container-sidebar-commentbtn {
                    cursor: pointer;
                    transition: 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 6vh;
                    border-bottom: 1px solid $theme-white;
                    &:hover{
                        background: lighten($theme-dark-grey, 10);
                    }
                }
                .right-container-sidebar-collaboratebtn{
                    cursor: pointer;
                    transition: 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 6vh;
                    border-bottom: 1px solid $theme-white;
                    &:hover{
                        background: lighten($theme-dark-grey, 10);
                    }
                }
            }
        } // A container containing buttons for creating sources and stashes
        .bottom {
            position: absolute;
            bottom: 1vh;
            .addSource {
                background: black;
            }
        }
    }
}