<canvas #canvas id="canvas"></canvas>
<div class="wrapper">

  <app-header></app-header>

  <section class="all-modals" *ngIf="isModalShown" (click)="hideModal()">
    <section class="content" (click)="$event.stopPropagation()">
      <!--For sources-->
      <app-source-view *ngIf="isViewSourceShown && currentSource" [source]="currentSource" (onAddSource)="onAddSource($event)"
        (onClose)="hideModal()" (onEditSource)="onEditSource($event)">
      </app-source-view>
      <app-source-add *ngIf="isAddSourceShown && currentSource" [parentSource]="currentSource" (onUpdate)="refreshSources()" (onClose)="hideModal()"></app-source-add>
      <app-source-edit *ngIf="isEditSourceShown && currentSource" [source]="currentSource" (onUpdate)="refreshSources()" (onClose)="hideModal()"></app-source-edit>
      <!--For stashes-->
      <app-stash-edit *ngIf="isEditStashShown && stash" [collaborators]="collaborators" [stash]="stash" (onUpdate)="refreshStash()"
        (onClose)="hideModal()"></app-stash-edit>
    </section>
  </section>

  <!--<article class="left-container-add-source" (click)="onAddSource($event)">
    <img src="./assets/images/icons/add.png">
    <button class="left-container-add-source-btn">ADD SOURCE</button>
  </article>-->
  <section class="main-container">
    <section id="left-container" (mousedown)="handleMousedown($event)" (mousemove)="handleMousemove($event)" (mouseup)="handleMouseup($event)">
      <article *ngFor="let source of sources; let last = last" [id]="source.source_id" class="source" [ngClass]="{'root': source.type == 'root','beginner': source.difficulty == 'beginner', 'advanced': source.difficulty == 'advanced', 'intermediate': source.difficulty == 'intermediate'}" (mousedown)="$event.stopPropagation()" (click)="selectCurrentSource(source.source_id)">

        <!--[ngClass]="{'btn-beginner': source.difficulty == 'beginner', 'btn-advanced': source.difficulty == 'advanced', 'btn-intermediate':
        source.difficulty == 'intermediate'}"-->
        <div class="source-btn" [id]="source.source_id">{{source.title}}</div>
      </article>
    </section>

    <!--For the list containing the stashes and sources-->
    <section class="right-container">
      <section class="right-container-content">
        <!--for the content-->
        <section id="right-container-stash" class="right-container-stash" *ngIf="isStashTabShown">
          <article class="right-container-stash-title" *ngIf="stash">
            <span>{{stash.title}}</span>
            <span (click)="onEditStash()">
                            <img src="./assets/images/Edit2.png">
                        </span>
          </article>
          <section class="right-container-stash-details">
            <article class="stash-details-owner" *ngIf="owner">
              <h2><span class="bold">Owner:</span><br>{{owner.firstname}} {{owner.lastname}}</h2>
            </article>
            <article class="stash-details-collaborators" *ngIf="collaborators">
              <h2><span class="bold">Collaborators:</span><br>{{collaborators.length}}</h2>
              <p *ngFor="let collaborator of collaborators">
                <span class="firstname">{{collaborator.firstname}}</span>
                <span class="lastname">{{collaborator.lastname}}</span>
              </p>
            </article>
          </section>
          <section class="right-container-stash-chat">
            <article class="right-container-stash-chat-title">
              Chatroom
            </article>
            <section class="right-container-stash-chatroom">
              Coming Soon
            </section>
          </section>
        </section>
        <section class="right-container-source" *ngIf="isSourceTabShown">
          <article class="right-container-source-title">
            Source
          </article>
          <section class="right-container-source-list">
            <collapsible-list style="margin: 0" [type]="'expandable'">

              <collapsible-list-item *ngFor="let source of sources" [style.display]="source.type == 'root' ? 'none' : 'block'">
                <collapsible-header class="right-container-stash-subheader">
                  {{source.title}}
                </collapsible-header>
                <collapsible-body [expanded]="false" class="right-container-stash-content">
                  <p>Link:<br> <a href={{source.hyperlink}} target="_blank">{{source.hyperlink}}</a></p>
                  <p>Description:<br> {{source.description}}</p>
                </collapsible-body>
              </collapsible-list-item>

            </collapsible-list>
          </section>
        </section>
        <section class="right-container-collaborate" *ngIf="isCollaboratorTabShown">
          <article class="right-container-collaborate-title">
            Collaborators
          </article>
        </section>
        <!--for the middle line-->
        <article class="right-container-sidebar-line" *ngIf="isStashTabShown || isCollaboratorTabShown || isSourceTabShown">
        </article>
        <section class="right-container-sidebar">
          <div class="right-container-sidebar-btn" (click)="selectTab('stashTab')" [ngClass]="{'right-container-sidebar-btn-yes': isStashTabShown == true, 'right-container-sidebar-btn-no': isStashTabShown == false}">
            <img src="./assets/images/Stash2.png">
          </div>
          <div class="right-container-sidebar-btn" (click)="selectTab('sourceTab')" [ngClass]="{'right-container-sidebar-btn-yes': isSourceTabShown == true, 'right-container-sidebar-btn-no': isSourceTabShown == false}">
            <img src="./assets/images/Comments2.png">
          </div>
          <div class="right-container-sidebar-btn" (click)="selectTab('collaborateTab')" [ngClass]="{'right-container-sidebar-btn-yes': isCollaboratorTabShown == true, 'right-container-sidebar-btn-no': isCollaboratorTabShown == false}">
            <img src="./assets/images/Collaborator2.png">
          </div>
          <div class="right-container-sidebar-mobile-graph" >
            <!--(click)="toggleGraphTab()"-->
            <img src="./assets/images/graph.png">
          </div>
        </section>
      </section>
    </section>
  </section>

  <app-footer></app-footer>
</div>