@import '../sass/variables';
@import '../sass/mixins';
::-webkit-scrollbar {
    display: none;
}

canvas {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -10;
}

div.wrapper {
    position: relative;
    z-index: 1;
    app-header,
    app-footer {
        position: relative;
        z-index: 10 !important;
    }
    section.all-modals {
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        @include column-center();
    }
}

// the add source button on the top left section
.left-container-add-source{
    @include transition-basic();
    padding: 1vh 1vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12vh;
    left: 2vw;
    .left-container-add-source-btn{
        font-weight: 700;
        border: none;
        background: transparent;
        color: white;
    }
    &:hover{
        background: rgba(102,102,102,0.7);
    }
    img{
        width: 4vh;
        height: 4vh;
    }
}

.main-container {
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 80vh;
    display: flex;
    #left-container {
        position: relative;
        z-index: 1;
        width: 75vw;
        height: $main-container-height;
        text-align: center;
        display: block;
        .source {
            width: 20vh;
            height: 18vh;
            position: absolute;
            display: flex !important;
            align-items: center;
            z-index: 1;
            justify-content: center;
        }
        .root {
            position: relative; // left: 45% !important;
            // top: 45% !important;
        }
    }
    .right-container {
        color: $theme-white;
        width: 25vw;
        height: 75vh;
        margin-top: 5vh;
        z-index: 2;
        .bold {
            font-weight: 600;
            color: black;
        }
        .right-container-content {
            display: flex;
            flex-direction: row-reverse;
            .right-container-sidebar-line{
                height: 75vh;
                width: 1vw;
                background: $theme-light-orange;
            }
            .right-container-stash {
                @include column-center;
                transition: width 1s;
                overflow-y: scroll;
                width: 21vw; // A list of sources and stashes
                height: 75vh;
                background: #cccccc;
                .right-container-stash-title {
                    text-transform: uppercase;
                    margin-top: 1vh;
                    background: white;
                    width: 95%;
                    color: black;
                    font-size: 12pt;
                    height: 5vh;
                    font-weight: bold;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 1vw;
                    img {
                        cursor: pointer;
                        width: 3vh;
                        height: 3vh;
                        &:hover {
                            border-color: rgba(255, 255, 255, 0.6);
                            cursor: pointer;
                        }
                    }
                }
                .right-container-stash-details {
                    font-weight: 300;
                    color: black;
                    margin-top: 1vh;
                    width: 95%;
                    background: white;
                    height: 35%;
                    article {
                        h2 {
                            font-size: 15px;
                            margin: 20px;
                        }
                        p {
                            margin: 10px 40px;
                        }
                    }
                }
                .right-container-stash-chat {
                    height: 55%;
                    width: 95%;
                    .right-container-stash-chat-title {
                        margin-top: 1vh;
                        width: 100%;
                        background: white;
                        font-size: 12pt;
                        height: 10%;
                        font-weight: bold;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 1vw;
                        color: black;
                        text-transform: uppercase;
                    }
                    .right-container-stash-chatroom {
                        margin-top: 1vh;
                        height: 82%;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: white;
                    }
                }
            }
            .right-container-source {
                @include column-center;
                justify-content: flex-start;
                transition: width 0.3s;
                overflow-y: scroll;
                background: lighten($theme-dark-grey, 10);
                width: 21vw;
                height: 75vh;
                .right-container-source-title {
                    margin-top: 1vh;
                    color: black;
                    background: white;
                    width: 95%;
                    font-size: 12pt;
                    height: 5vh;
                    font-weight: bold;
                    display: flex;
                    padding: 0 1vw;
                    align-items: center;
                    text-transform: uppercase;
                }
                .right-container-source-list {
                    margin-top: 1vh;
                    width: 95%;
                    .right-container-stash-subheader {
                        display: flex;
                        justify-content: flex-start;
                        overflow: hidden;
                        align-items: center;
                        font-size: 10pt;
                        color: black;
                        display: block;
                        cursor: pointer;
                        height: 1vh;
                        background-color: #fff;
                        padding: 0 1vw;
                    }
                    .right-container-stash-content {
                        font-size: 10pt;
                        overflow: hidden;
                        padding: 0 1vw;
                        p {
                            margin: 0;
                            padding: 1vh 0;
                        }
                        a {
                            color: white;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .right-container-collaborate {
                @include column-center;
                justify-content: flex-start;
                transition: width 0.3s;
                overflow-y: scroll;
                background: lighten($theme-dark-grey, 10);
                width: 21vw;
                height: 75vh;
                .right-container-collaborate-title {
                    margin-top: 1vh;
                    color: black;
                    width: 95%;
                    background: white;
                    font-size: 12pt;
                    height: 5vh;
                    font-weight: bold;
                    display: flex;
                    padding: 0 1vw;
                    align-items: center;
                }
            }
            .right-container-sidebar {
                right: 0;
                height: 100%;
                color: $theme-white;
                .right-container-sidebar-btn-no {
                    background: #666666;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 4vw;
                    width: 4vw;
                    // border-top: 1px solid $theme-white;
                    border: 1px solid $theme-white;
                    transition: 0.3s;
                    &:hover {
                        background: $theme-light-orange;
                        border-right: none;
                    }
                }
                .right-container-sidebar-btn-yes {
                    background: $theme-light-orange;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 4vw;
                    width: 4vw;
                    // border-top: 1px solid $theme-white;
                    border: 1px solid $theme-white;
                    border-right: none;
                    border-top: none;
                    transition: 0.3s;
                    &:hover {
                        background: $theme-light-orange;
                        border-right: none;
                    }
                }
                .right-container-sidebar-mobile-graph {
                    display: none;
                }
                img{
                    width: 4vh;
                    height: 4vh;
                }
            }
        }
    }
    // ngClasses for differentiating the sources
    .source-btn{
        color: black;
        border: none;
        background: none;
        &:hover{
            color: black;
        }
    }
    .root{
        background-image: url("/assets/images/root.png");
        background-size: 20vh 18vh;
        background-repeat: no-repeat;
    }

    .beginner {
        background-image: url("/assets/images/easy.png");
        background-size: 20vh 18vh;
        background-repeat: no-repeat;
        transition: background-image 0.3s;
        &:hover{
            background-image: url("/assets/images/easy-h.png");
        }
    }

    .advanced {
        transition: background-image 0.3s;
        background-image: url("/assets/images/normal.png");
        background-size: 20vh 18vh;
        background-repeat: no-repeat;
        &:hover{
            background-image: url("/assets/images/normal-h.png");
        }
    }

    .intermediate {
        transition: background-image 0.3s;
        background-image: url("/assets/images/hard.png");
        background-size: 20vh 18vh;
        background-repeat: no-repeat;
        &:hover{
            background-image: url("/assets/images/hard-h.png");
        }
    }
}

//
// tablet screen
@include media(small-screen) {
    .left-container-add-source{
        top: 12vh;
        left: 2vw;
        .left-container-add-source-btn{
            font-size: 10pt;
        }
    }
    .main-container {
        #left-container {
            .source {
                width: 18vh;
                height: 16vh;
                font-size: 10pt;
            }
        }
        .right-container {
            font-size: 10pt;
            .right-container-content {
                .right-container-stash {
                    .right-container-stash-title {
                        font-size: 11pt;
                    }
                    .right-container-stash-details {
                        article {
                            h2 {
                                font-size: 13px;
                            }
                        }
                    }
                    .right-container-stash-chat {
                        .right-container-stash-chat-title {
                            font-size: 11pt;
                        }
                    }
                }
                .right-container-source {
                    .right-container-source-title {
                        font-size: 11pt;
                    }
                    .right-container-source-list {
                        .right-container-stash-subheader {
                            font-size: 10pt;
                            height: 0.75vh;
                        }
                        .right-container-stash-content {
                            font-size: 9pt;
                        }
                    }
                }
                .right-container-collaborate {
                    .right-container-collaborate-title {
                        font-size: 11pt;
                    }
                }
            } 
        }
        // ngClasses for differentiating the sources
        .root{
            background-size: 18vh 16vh;
        }

        .beginner {
            background-size: 18vh 16vh;
        }

        .advanced {
            background-size: 18vh 16vh;
        }

        .intermediate {
            background-size: 18vh 16vh;
        }
    }
}

//
// mobile screen
@include media(mobile-screen) {
    .left-container-add-source{
        display: none;
        // padding: 1vh 1vw;
        // border-radius: 5px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // position: absolute;
        // top: 3vh;
        // left: 2vw;
        // .left-container-add-source-btn{
        //     font-weight: 700;
        //     border: none;
        //     background: transparent;
        //     color: white;
        // }
        // img{
        //     width: 4vh;
        //     height: 4vh;
        // }
    }
    .main-container {
        overflow: hidden;
        position: relative;
        z-index: -1;
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column-reverse;
        #left-container {
            position: fixed;
            z-index: 1;
            width: 75vw;
            height: $main-container-height;
            text-align: center;
            .source {
                width: 20vh;
                height: 18vh;
                position: absolute;
                display: flex !important;
                align-items: center;
                z-index: 1;
                justify-content: center;
            }
            .root {
                position: relative; // left: 45% !important;
                // top: 45% !important;
            }
        }
        .right-container {
            color: $theme-white;
            width: 100vw;
            height: 80vh;
            z-index: 2;
            .right-container-content {
                display: flex;
                flex-direction: column;
                height: 100%;
                overflow: hidden;
                .right-container-sidebar-line{
                    display: none;
                }
                .right-container-stash {
                    order: 2;
                    width: 100%; 
                    height: 100%;
                    background: #151523;
                    // background: #cccccc;
                    .right-container-stash-title {
                        img {
                            width: 4vh;
                            height: 4vh;
                        }
                    }
                }
                .right-container-source {
                    order: 2;
                    width: 100%; 
                    height: 100%;
                    background: #151523;
                    // background: #cccccc;
                }
                .right-container-collaborate {
                    order: 2;
                    width: 100%; 
                    height: 100%;
                    background: #151523;
                    // background: #cccccc;
                }
                .right-container-sidebar {
                    order: 1;
                    width: 100vw;
                    display: flex;
                    height: 7vh;
                    background: #151523;
                    .right-container-sidebar-btn-no {
                        background: transparent;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        height: 100%;
                        width: 7vh;
                        border: none;
                        border-right: white solid 1px;
                    }
                    .right-container-sidebar-btn-yes {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        height: 100%;
                        width: 7vh;
                        border: none;
                        border-right: white solid 1px;
                    }
                    .right-container-sidebar-mobile-graph {
                        display: block;
                        height: 100%;
                        width: 7vh;
                        border: none;
                        border-right: white solid 1px;
                        @include column-center;
                        img{
                            width: 4vh;
                            height: 4vh;
                        }
                    }
                    img{
                        width: 6vh;
                        height: 6vh;
                    }
                }
            }
        }
    }
}