@import '../sass/variables';
$border-width: 0.9vh;
$width: 5vh;
div.loader {
    border: $border-width solid #f3f3f3;
    border-top: $border-width solid $theme-light-blue;
    border-radius: 50%;
    width: $width;
    height: $width;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
