@import 'sass/variables';
@import 'sass/mixins';
html,
body {
    margin: 0;
    padding: 0;
}

.router-wrapper {
    @include media(mobile-screen) {
        display: none;
    }
}

div.canvas-wrapper {
    @include media(mobile-screen) {
        display: none;
    }
    overflow: hidden;
    width: 98vw;
    .background {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        z-index: -1000;
        background: #151523;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        height: 100vh;
        z-index: -999;
    }
}

div.temporary {
    display: none;
    @include media(mobile-screen) {
        @include column-center();
        width: 100vw;
        height: 100vh;
        padding: 15vh 15vw;
        background-color: $theme-dark-blue;
        img {
            width: 35vw;
        }
        p {
            @include column-center();
            text-align: center;
            color: $theme-white;
            span.headline {
                font-size: 20pt;
                text-transform: uppercase;
                margin: 3vh 0 2vh 0;
            }
            span.content {
                font-size: 10pt;
            }
        }
    }
}
