<app-header></app-header>

<section class="all-modals" [style.display]="isModalShown ? 'flex' : 'none'" (click)="hideModal()">
    <section class="content" (click)="$event.stopPropagation()">
    </section>
</section>

<section class="main-container">
    <section class="top-container">
        <article class="filter">
            Sort: Last Active
        </article>
        <article class="title">
            All Boards
        </article>
        <article class="edit">
            Edit
        </article>
    </section>
    <section class="mid-container">
        <section class="mid-container-boards">
            <app-board></app-board>
            <section class="create-board">
                <section class="create-button" (click)="switchPage('form')" *ngIf="isCreateShown">
                    <span class="plus">&#10010;</span>
                    <span class="larger-font">Create Board</span>
                </section>
                <section class="create-form" *ngIf="isFormShown">
                    <form>
                        <input class="title" type="text" name="title" placeholder="NAME" [appAutofocus]="true" maxlength="18">
                        <!--<input class="title" [(ngModel)]="link.title" type="text" name="title" placeholder="NAME" [appAutofocus]="true" maxlength="18">-->
                        <div class="buttons">
                            <button id="create-source-button-save" (click)="switchPage('create')">Save</button>
                            <button id="create-source-button-cancel" (click)="switchPage('create')">Cancel</button>
                        </div>
                    </form>
                </section>
            </section>
        </section>
    </section>
</section>

<!--<app-footer></app-footer>-->