@import '../sass/variables';

// top container 
// height:  28vh;

// bottom container
// height: 65vh;

#main-container{
    height: $mainContainerHeight;
    background: $light-background-trans;
    color: #91BED4;
}

#top-container{
    color: #304269;
    height: 24vh;
    display: flex;
    justify-content: center;
    #top-container-content{
        width: 61vw;
        display: flex;
        padding: 4vh 0;
        font-size: 11pt;
       #top-container-contentleft{
           width: 10vw;
           display: flex;
           align-items: center;
           #top-container-contentleft-img{
               width: 7vw;
               height: 15vh;
               display: flex;
               justify-content: center;
               align-items: center;
               border: $theme-orange solid 2px;
               background: $theme-light-blue;
           }
       }
       #top-container-contentright{
           padding: 0 1vw;
           #top-container-contentright-details{
               height: 15vh;
               display: flex;
               align-items: center;
               width: 50vw;
                 ul{
                    width: 50vw;
                    margin: 0px;
                    padding: 0px;
                    list-style-type: none;
                    justify-content: space-between;
                    display: flex;
            }
                li{
                    font-size: 10pt;
                    .bold{
                        font-size: 12pt;
                        font-weight: bold;
                    }
                }   
           }
           h1{
               margin: 0px;
               color: $theme-orange;
               font-size: 16pt;
           }
       }
    }
}


#bottom-container{
    display: flex;
    justify-content: center;
}

