<app-header></app-header>

<section id="main-container">
    <section id="top-container">
        <section id="top-container-content">
            <article id="top-container-contentleft">
                <div id="top-container-contentleft-img">
                    Profile pic
                </div>
            </article>
            <article id="top-container-contentright" *ngIf="userAccount">
                <h1> Profile </h1>
                <article id="top-container-contentright-details">
                    <ul>
                        <li>
                            <span class="bold">Username:</span>
                            <p>
                                John Doe
                            {{userAccount.username}}
                        </li>
                        <li>
                            <span class="bold">University:</span>
                            <p>
                                University of John Doe
                            {{userAccount.username}}
                        </li>
                        <li>
                            <span class="bold">Bachelor</span>
                            <p>
                                Bachelor of IT
                            {{userAccount.username}}
                        </li>
                    </ul>
                </article>
            </article>

        </section>
    </section>

    <section id="bottom-container">
        <section id="bottom-container-content">
            <my-tabs [tabs]="tabs">
                <my-tab [selected]="true" [tabsArray]="tabs" [tabTitle]="'Stashes'">
                    <app-stash [stash]="stash"></app-stash>
                </my-tab>
                <my-tab [tabsArray]="tabs" tabTitle="Settings">
                    Content 2
                </my-tab>
            </my-tabs>
        </section>
    </section>
</section>

<app-footer></app-footer>