#main-container{
    width: 94vw;
    padding: 2vh 3vw;
    justify-content: space-between; 
    color: #91BED4;
}

#top-container{
    width: 88vw;
    background: #304269;
    border-radius: 5px;
    padding: 2vh 3vw;
    h2{
        margin: 0px 0px 2vh 0px;
    }
    table{
        text-align: left;
        width: 88vw;
        table-layout: fixed;
    }
    td{
        vertical-align: top;
    }
    p{
        margin-top: 0px;
    }
}

.no-bullet {
    list-style-type: none;
    margin: 0px;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.edit{
    background: #f26101;
    font-weight: bold;
    font-size: 14pt;
    padding: 1vh 2vw;
    border-radius: 10px;
    width: 10vw;
}

#bottom-container{
    margin-top: 2vh;
    padding-bottom: 1vh;
    width: 94vw;
    background: #304269;
    border-radius: 5px;
}

#personal-header{
    background: #f26101;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1vh 0;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    color: #91BED4;
    font-size: 24pt;
    text-shadow: 2px 2px #222; 
    a{
        text-decoration: none;
        color: #91BED4;
        text-align: center;
    } 
    ul{
        font-size: 16pt;
        margin: 0px;
        list-style-type: none;
        display: flex;
    }
    li {
        padding: 1vh 1vw;
    }   
}

#stashes{
    padding: 0vh 2vw;
    display : flex;
    justify-content: space-around;
}

