@import '../sass/variables.scss';
@import '../sass/mixins.scss';
.source {
    @include transition-basic();
    width: 18vh;
    height: 12vh;
    padding: 1vh 1vw;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $theme-white;
    color: $theme-light-blue;
    &:hover {
        background: $theme-turquoise;
        color: $theme-white;
        cursor: pointer;
    }
}

// 
// mobile screen
@include media(mobile-screen) {
    background: black;
}
