@import '../sass/variables.scss';
@import '../sass/mixins.scss';

#source{
    width: 12vh;
    height: 12vh;
    padding: 1vh 1vw;
    border-radius: 10px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background: $theme-blueberry;
    box-shadow: 1px 7px 30px $theme-light-blue;
    color: $theme-white;
    border: $theme-white solid 1px;
}