@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
.main-container {
    background: $theme-font-light-grey;
    color: $theme-font-grey;
    width: 250px;
    height: 170px;
    font-size: 16pt;
    text-transform: uppercase;
    padding: 20px 20px;
    @include transition-basic();
    .close {
        @include row-center();
        cursor: pointer;
        position: relative;
        width: 35px;
        height: 35px;
        left: 214px;
        top: -36px;
        font-size: 20pt;
        border-radius: 50px;
        border: darken($theme-light-orange, 10) solid 2px;
        color: darken($theme-light-orange, 10);
        @include transition-basic();
        background: black;
        &:hover {
            box-shadow: 2px 4px 10px black;
        }
    }
    .main-container-content {
        // margin-top: -37px;
        width: 210px;
        .title {
            display: flex;
            align-items: center;
            height: 30px;
        }
        .image {
            height: 100px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            img {
                height: 100px;
            }
        }
    }
    &:hover {
        opacity: 0.9;
        box-shadow: 2px 4px 10px black;
    }
}