@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
// For the popup form
#main-container {
    /* Modal Content */
    #main-container-content {
        background: rgba(255,255,255,0.9);
        @include column-center;
        box-shadow: 1px 7px 30px $theme-dark-grey;
        border: 1px solid $theme-font-light-grey;
        width: 25vw;
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
        li {
            font-size: 10pt;
        }
        #main-container-content-heading {
            @include row-center();
            width: 100%;
            justify-content: space-between;
            background: $theme-light-orange;
            color: $theme-white;
            padding: 1vh 2vw;
            .heading {
                font-size: 12pt;
            }
            .cross {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-detail {
            width: 100%;
            padding: 1vh 2vw;
            input[type=text],
            select {
                @include column-center();
                border: $theme-font-light-grey solid 2px;
                background: white;
                padding: 1vh 1vw;
                text-align: left;
                height: 2.5vh;
                color: $theme-font-grey;
                width: 92%;
                font-size: 12pt;
            }
            input:focus {
                border: $theme-light-orange solid 2px;
            }
            label {
                font-size: 12pt;
                font-weight: 600;
                color: $theme-dark-grey;
            }
            select {
                display: block;
            }
            .difficulty {
                height: 4vh;
                border-radius: 0px;
                margin-bottom: 10px;
            }
            .description {
                border: $theme-font-light-grey solid 2px;
                width: 103%;
                padding: 1vh 0;
                height: 20vh;
                margin-bottom: 10px;
                background: white;
                font-size: 12pt;
            }
        }
        div.buttons {
            @include row-center();
            width: 100%;
            position: relative;
            margin-bottom: 1vh;
            #create-source-button {
                @include button-ss-orange($width: 11vw);
                margin: auto;
                font-weight: 300;
                font-size: 12pt;
            }
            div.delete {
                @include column-center();
                height: 100%;
                position: absolute;
                right: 1.5vw;
                img {
                    width: 5vh;
                    padding: 0.5vh;
                    height: 5vh;
                    border-radius: 50%;
                    border: 1px solid $transparent;
                    transition: border-color 0.3s;
                    &:hover {
                        transition: border-color 0.3s;
                        border: 1px solid black;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//
// tablet version
@include media(small-screen){
    #main-container {
        /* Modal Content */
        #main-container-content {
            width: 40vw;
            #create-source-button {
                @include button-ss-light();
                margin-bottom: 1vh;
                font-size: 8pt;
            }
        }
    }
}

//
// mobile version
@include media(mobile-screen){
     #main-container {
        /* Modal Content */
        #main-container-content {
            width: 60vw;
            #main-container-content-heading {
                display: flex; 
                flex-direction: row;
            }
            #create-source-button {
                @include button-ss-light($width: 20vw);
                margin-bottom: 1vh;
                font-size: 6pt;
            }
        }
    }
}