@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
// For the popup form
#main-container {
    /* Modal Content */
    #main-container-content {
        @include column-center;
        box-shadow: 1px 7px 30px $theme-dark-grey;
        border-radius: 10px;
        height: auto;
        background: $theme-white;
        border: 1px solid #888;
        width: 25vw;
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
        li {
            font-size: 10pt;
        }
        #main-container-content-heading {
            @include row-center();
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            justify-content: space-between;
            font-weight: bold;
            background: $theme-dark-grey;
            color: $theme-white;
            padding: 1vh 2vw;
            .heading {
                font-size: 12pt;
            }
            .cross {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-detail {
            width: 100%;
            padding: 1vh 2vw;
            .form-title-bold {
                font-weight: bold;
                font-size: 10pt;
                color: black;
            }
            select {
                display: block;
            }
            .title {
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                padding: 1vh 0;
                height: 2vh;
                margin-bottom: 10px;
            }
            .difficulty {
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                height: 4vh;
                border-radius: 0px;
                margin-bottom: 10px;
            }
            .tags {
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                height: 4vh;
                border-radius: 0px;
                margin-bottom: 10px;
            }
            .description {
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                padding: 1vh 0;
                height: 20vh;
                margin-bottom: 10px;
            }
        }
        #create-source-button {
            @include button-ss-light();
            margin-bottom: 1vh;
            // margin: auto;
            // border: darken($theme-grey, 10) solid 2px;
            // background: $theme-grey;
            // margin-bottom: 1vh;
            // font-weight: bold;
            // font-size: 10pt;
            // width: 9vw;
            // text-align: center;
            // padding: 2vh 0;
            // @include transition-basic();
            // &:hover {
            //     background: darken($theme-grey, 10);
            //     border: $theme-grey solid 2px;
            // }
        }
    }
}