<section id="main-container" *ngIf="source">
  <section id="main-container-content">
    <article id="main-container-content-heading">
      <span class="heading">Edit Source</span>
      <span class="cross" (click)="closePopup()">&times;</span>
    </article>
    <section id="main-container-content-detail">
      <form>
        <ul>
          <li>
            <label for="title" class="form-title-bold">Title:<br></label>
            <input class="title" [(ngModel)]="title" type="text" name="title">
          </li>
          <li>
            <label for="hyperlink" class="form-title-bold">Hyperlink:<br></label>
            <input class="title" [(ngModel)]="hyperlink" type="text" name="hyperlink">
          </li>
          <li>
            <label for="difficulty" class="form-title-bold">Difficulty:<br></label>
            <select class="difficulty" name="difficulty" [(ngModel)]="difficulty"> 
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
          </li>
          <li>
            <label for="tags" class="form-title-bold">Tags:<br></label>
            <input class="tags" name="tags" type="text" [(ngModel)]="tagString">
          </li>
          <li>
            <label for="description" class="form-title-bold">Description: <br></label>
            <textarea class="description" [(ngModel)]="description" name="description"></textarea>
          </li>
        </ul>
      </form>
    </section>
    <div class="buttons">
      <div id="create-source-button" (click)="updateSource()">
        Save
      </div>
      <div class="delete"><img src="assets/images/icons/delete_forever.png" (click)="deleteSource()"/></div>
    </div>
  </section>
</section>