<app-header></app-header>
<!--Container 5-->
<section class="contact-container" id="contactus">
  <section class="contact-container-content">
    <span class="contact-container-title">Submit an enquiry through our supported channels</span>
    <p>
      Help us make Source Stash even better!!
      <hr>
  </section>
  <section class="contact-container-details">
    <section class="contact-container-details-form">
      <article>
        <form>
          <input type="text" name="firstname" placeholder="FULL NAME">
          <p>
            <input type="text" name="lastname" placeholder="EMAIL ADDRESS">
            <p>
              <input type="text" name="lastname" placeholder="SUBJECT">
              <p>
                <textarea class="textarea" type="text" name="lastname" placeholder="WHAT'S YOUR ENQUIRY'"></textarea>
                <p><input class="submit" type="submit" value="Submit">
        </form>
      </article>
    </section>
    <section class="contact-container-details-detail">
      <div class="logo"><img src="/assets/images/icons/logo.png"></div>
      <p>
        SOURCE STASH
        <p>
          contact@sourcestash.io
          <p>
            <article class="contact-container-details-detail-icons">
              <img src="/assets/images/icons/fb.png">
              <img src="/assets/images/icons/linkedin.png">
              <img src="/assets/images/icons/twitter.png">
            </article>
    </section>
  </section>
</section>
<app-footer></app-footer>