<div class="wrapper">

  <app-header></app-header>

  <section class="all-modals" [style.display]="isModalShown ? 'flex' : 'none'" (click)="hideModal()">
    <section class="content" (click)="$event.stopPropagation()">
      <app-stash-add [style.display]="isAddStashShown ? 'flex' : 'none'" (onCreated)="reloadStashes()" (onClose)="hideModal()"></app-stash-add>
    </section>
  </section>

  <section class="main-container">
    <section class="main-container-content">
      <article class="main-container-title">
        <span>My Stashes</span>
        <span (click)="showModal('addStash')">Create a new stash   &#10010;</span>
      </article>
      <section class="main-container-stashes" *ngIf="stashes">
        <section class="main-container-stashes-content" *ngFor="let stash of stashes">
          <app-stash [stash]="stash" (click)="navigateToStash(stash.stash_id)"></app-stash>
        </section>
      </section>
      <article class="main-container-title">
        Shared With Me
      </article>
      <section class="main-container-stashes" *ngIf="sharedStashes">
        <section class="main-container-stashes-content" *ngFor="let stash of sharedStashes">
          <app-stash [stash]="stash" (click)="navigateToStash(stash.stash_id)"></app-stash>
        </section>
      </section>
      <article class="main-container-createstash">
        <button class="createstash-btn-mobile" (click)="showModal('addStash')"><span>&#10010;</span></button>
      </article>
    </section>

  </section>

  <app-footer></app-footer>
</div>