<app-header></app-header>

<section class="all-modals" [style.display]="isModalShown ? 'flex' : 'none'" (click)="hideModal()">
    <section class="content" (click)="$event.stopPropagation()">
        <app-stash-add [style.display]="isAddStashShown ? 'flex' : 'none'" (onCreated)="reloadStashes()" (onClose)="hideModal()"></app-stash-add>
    </section>
</section>

<section id="main-container">
    <section id="main-container-content">
        <article id="main-container-title">
            Top Ranking Stashes
        </article>
        <section id="main-container-stashes">
            <section id="main-container-stashes-content" *ngFor="let stash of stashes">
                <app-stash [stash]="stash" (click)="navigateToStash(stash.stash_id)"></app-stash>
            </section>
        </section>
    </section>
    <article id="main-container-createstash">
        <button id="createstash-btn" (click)="showModal('addStash')">Create Stash</button>
        <button id="createstash-btn-mobile" (click)="showModal('addStash')">&#10010;</button>
    </article>
</section>

<app-footer></app-footer>