@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
section.all-modals {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include column-center();
}

.main-container {
    width: 100vw;
    height: $main-container-height;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    .main-container-content {
        width: 62vw;
        .main-container-title {
            margin-top: 2vh;
            // text-shadow: 1px 7px 30px $theme-dark-grey;
            font-size: 16pt;
            font-weight: bold;
            color: $theme-dark-grey;
            padding: 2vh 0;
            margin-bottom: 2vh;
        }
        .main-container-stashes {
            padding: 2vh 0;
            height: 72vh;
            width: 62vw;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .main-container-stashes-content {
                // margin: 2vh 0 2vh 0; 
            }
        }
    }
    .main-container-createstash {
        width: 19vw;
        padding: 4vh 0;
        display: flex;
        justify-content: center;
        height: 15vh;
        .createstash-btn {
            @include button-ss-dark( $width: 12vw, $horizontalPadding: 0);
            border: white solid 2px;
            color: white;
            background: $theme-light-blue;
            transition: 0.3s;
        }
        .createstash-btn-mobile {
            display: none;
        }
    }
}

//
// tablet screen
@include media(small-screen) {
    .main-container {
        width: 100vw;
        height: $main-container-height;
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-x: hidden;
        .main-container-content {
            width: 80vw;
            .main-container-title {
                margin-top: 2vh;
                // text-shadow: 1px 7px 30px $theme-dark-grey;
                font-size: 16pt;
                font-weight: bold;
                color: $theme-dark-grey;
                padding: 2vh 0;
                margin-bottom: 2vh;
            }
            .main-container-stashes {
                padding: 2vh 0;
                height: 72vh;
                width: 80vw;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .main-container-stashes-content {
                    // margin: 2vh 0 2vh 0; 
                }
            }
        }
        .main-container-createstash {
            position: fixed;
            top: 9vh;
            right: 5vw;
            width: 10vw;
            padding: 4vh 0;
            display: flex;
            justify-content: center;
            height: 15vh;
            .createstash-btn {
                @include button-ss-dark( $width: 12vw, $verticalPadding: 0);
                display: none;
            }
            .createstash-btn-mobile {
                @include button-ss-dark( $width: 7vw, $height: 7vw, $verticalPadding: 0, $horizontalPadding: 0, $font-size: 16pt);
                color: $theme-white;
                background: $theme-light-blue;
                border: white solid 2px;
                display: flex;
            }
        }
    }
}

//
// mobile screen
@include media(mobile-screen) {
    .main-container {
        width: 100vw;
        height: $main-container-height;
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-y: scroll;
        .main-container-content {
            width: 80vw;
            .main-container-title {
                margin-top: 2vh;
                // text-shadow: 1px 7px 30px $theme-dark-grey;
                font-size: 16pt;
                font-weight: bold;
                color: $theme-dark-grey;
                padding: 2vh 0;
                margin-bottom: 2vh;
            }
            .main-container-stashes {
                margin: auto;
                padding: 0 0 2vh 0;
                height: 72vh;
                width: 61vw;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .main-container-stashes-content {
                    // margin: 2vh 0 2vh 0; 
                }
            }
        }
        .main-container-createstash {
            position: fixed;
            right: 8vw;
            top: 7vh;
            width: 10vw;
            padding: 4vh 0;
            display: flex;
            justify-content: center;
            height: 10vw;
            .createstash-btn {
                @include button-ss-dark( $width: 12vw, $verticalPadding: 0);
                display: none;
            }
            .createstash-btn-mobile {
                @include button-ss-dark( $width: 10vw, $height: 10vw, $verticalPadding: 0, $horizontalPadding: 0, $font-size: 16pt);
                color: $theme-white;
                background: $theme-light-blue;
                border: white solid 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                span {
                    text-align: center;
                }
            }
        }
    }
}