@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';
div.wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

app-header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

section.all-modals {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    @include column-center();
}

.main-container {
    @include column-center();
    margin-top: 7vh;
    position: relative;
    width: 100vw;
    .main-container-title {
        font-size: 16pt;
        font-weight: bold;
        color: $theme-dark-grey;
        width: 62vw;
        text-align: left;
        padding: 2vh 0;
    }
    .main-container-stashes {
        width: 62vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .main-container-stashes-content {
            width: 47%;
            margin-bottom: 5vh;
            app-stash {
                width: 100%;
            }
        }
    }
    .main-container-createstash {
        position: fixed;
        top: 9vh;
        right: 3vw;
        width: 19vw;
        display: flex;
        justify-content: center;
        height: 15vh;
        .createstash-btn {
            @include button-ss-dark( $width: 12vw, $height: 4vw, $horizontalPadding: 0);
            border: white solid 2px;
            color: white;
            background: $theme-light-blue;
            transition: 0.3s;
        }
        .createstash-btn-mobile {
            display: none;
        }
    }
}

//
// tablet screen
@include media(small-screen) {
    .main-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-x: hidden;
        .main-container-title {
            font-size: 16pt;
            font-weight: bold;
            width: 80vw;
            text-align: left;
            color: $theme-dark-grey;
            padding: 2vh 0;
        }
        .main-container-stashes {
            width: 80vw;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .main-container-stashes-content {
                width: 47%;
                margin-bottom: 5vh;
                app-stash {
                    width: 100%;
                }
            }
        }
        .main-container-createstash {
            position: fixed;
            top: 4vh;
            right: 1vw;
            width: 10vw;
            padding: 4vh 0;
            display: flex;
            justify-content: center;
            height: 15vh;
            .createstash-btn {
                @include button-ss-dark( $width: 12vw, $verticalPadding: 0);
                display: none;
            }
            .createstash-btn-mobile {
                @include button-ss-dark( $width: 7vw, $height: 7vw, $verticalPadding: 0, $horizontalPadding: 0, $font-size: 16pt);
                color: $theme-white;
                background: $theme-light-blue;
                border: white solid 2px;
                display: flex;
            }
        }
    }
}

//
// mobile screen
@include media(mobile-screen) {
    .main-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center; // overflow-y: scroll;
        .main-container-title {
            font-size: 16pt;
            font-weight: bold;
            color: $theme-dark-grey;
            width: 80vw;
            text-align: left;
            padding: 2vh 0;
        }
        .main-container-stashes {
            @include column-center();
            width: 80vw;
            .main-container-stashes-content {
                @include column-center();
                width: 100%;
                app-stash {
                    @include column-center();
                }
            }
        }
        .main-container-createstash {
            position: fixed;
            right: 2vw;
            top: 4vh;
            width: 10vw;
            padding: 4vh 0;
            display: flex;
            justify-content: center;
            height: 10vw;
            .createstash-btn {
                @include button-ss-dark( $width: 12vw, $verticalPadding: 0);
                display: none;
            }
            .createstash-btn-mobile {
                @include button-ss-dark( $width: 10vw, $height: 10vw, $verticalPadding: 0, $horizontalPadding: 0, $font-size: 16pt);
                color: $theme-white;
                background: $theme-light-blue;
                border: white solid 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                span {
                    text-align: center;
                }
            }
        }
    }
}