// theme color
$theme-light-blue: #436697; // rgba(67,102,151,1);
$theme-orange: #FF812A; // rgba(255,129,42,1);
$theme-dark-grey: #31313d; // rgba(49,49,61,1);
$theme-grey: #E0E0E7; // rgba(224,224,231,1);
$theme-white: #ffffff; // rgba(255,255,255,1);
$theme-blueberry: #576886;
$dark-background: rgba(49, 49, 61, 0.9);
$light-background: rgba(224, 224, 231, 1);
$light-background-trans: rgba(224, 224, 231, 0.8);
//
// medium-screen
$header-content-width: 85vw;
$header-height: 10vh;
$header-bg: $theme-dark-grey;
$header-font: $theme-white;
$header-fontsize: 10pt;
$main-container-bg: $light-background-trans;
$main-container-height: 86vh;
$footer-height: 7vh;
// medium-screen
//
//
// small screen
$tablet-header-content-width: 80vw;
// small screen
// 
//
// mobile-screen
$mobile-header-content-width: 100vw;
$mobile-font-content: 10pt;
$mobile-font-title: 14pt;
$mobile-font-heading: 12pt;
$mobile-font-button: 9pt;
// mobile-screen
//
