@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles.scss';
#main-container {
    color: black; // width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    font-weight: 300;
    #main-container-content {
        box-shadow: 1px 7px 30px $theme-dark-grey;
        background: rgba(255, 255, 255, 0.9);
        width: 35vw;
        #main-container-content-heading {
            @include row-center();
            justify-content: space-between;
            background: $theme-light-orange;
            color: white;
            padding: 1vh 2vw;
            font-size: 16pt;
            span.heading-title {
                text-transform: uppercase;
            }
            span:last-child {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-form {
            @include column-center;
            padding: 2vh 2vw;
            font-size: 10pt;
            align-items: flex-start;
            form {
                position: relative;
                width: 100%;
                div.buttons {
                    @include row-center();
                    justify-content: space-between;
                    height: 100%;
                    button {
                        margin: 0;
                    }
                    div.delete {
                        @include column-center();
                        img {
                            height: 5vh;
                            width: 5vh;
                            padding: 0.5vh;
                            border-radius: 50%;
                            border: 1px solid $transparent;
                            transition: border-color 0.3s;
                            &:hover {
                                cursor: pointer;
                                transition: border-color 0.3s;
                                border: 1px solid black;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            input[type=text],
            select {
                @include column-center();
                border: $theme-font-light-grey solid 2px;
                background: white;
                padding: 1vh 1vw;
                text-align: left;
                height: 3.5vh;
                color: $theme-font-grey;
                width: 92%;
            }
            input:focus {
                border: $theme-light-orange solid 2px;
            }
            textarea.description {
                font-weight: normal;
                height: 20vh;
            }
            section#collaborators {
                padding-bottom: 20px;
                article.collaborator-list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    p.collaborator {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        color: $theme-blueberry;
                        height: 30px;
                        margin: 0;
                        span.delete {
                            @include transition-basic();
                            display: none;
                            margin: 0;
                            padding: 0 8px;
                            font-size: 17px;
                            border-radius: 3px;
                            text-transform: uppercase;
                            &:hover {
                                cursor: pointer;
                                background-color: gainsboro;
                                border: $dark-background;
                            }
                        }
                        span.comma {
                            margin-right: 10px;
                        }
                        &:hover {
                            cursor: pointer;
                            span.delete {
                                display: inline;
                            }
                        }
                    }
                }
                article {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    input {
                        width: 65%;
                        margin: 0;
                    }
                    button {
                        @include button-ss-orange($width: 25%, $height: 42px);
                        margin: 0;
                        background-color: none;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

label {
    font-size: 12pt;
    font-weight: 600;
    color: $theme-dark-grey;
}

#create-source-button {
    @include button-ss-orange($width: 7vw, $height: 42px);
    margin: auto; // border: darken($dark-background, 10) solid 2px;
    margin-bottom: 1vh;
    margin-left: 0;
    font-weight: 300;
    font-size: 10pt;
    text-align: center;
    padding: 10px 10px;
}

//
// small version
@include media(small-screen) {
    #main-container {
        #main-container-content {
            width: 50vw;
            #main-container-content-form {
                section#collaborators {
                    article {
                        button {
                            @include button-ss-orange($width: 25%, $height: 42px);
                            margin: 0;
                            background-color: none;
                            font-weight: 300;
                            font-size: 10pt;
                        }
                    }
                }
            }
        }
    }
    #create-source-button {
        @include button-ss-orange($width: 11vw, $height: 42px);
        margin: auto; // border: darken($dark-background, 10) solid 2px;
        margin-bottom: 1vh;
        margin-left: 0;
        font-weight: 300;
        font-size: 10pt;
        text-align: center;
        padding: 10px 10px;
    }
}

//
// mobile version
@include media(mobile-screen) {
    #main-container {
        #main-container-content {
            width: 80vw;
            #main-container-content-heading {
                flex-direction: row;
            }
            #main-container-content-form {
                section#collaborators {
                    article {
                        button {
                            @include button-ss-orange($width: 25%, $height: 42px);
                            margin: 0;
                            background-color: none;
                            font-weight: 300;
                            font-size: 10pt;
                        }
                    }
                }
            }
        }
    }
    #create-source-button {
        @include button-ss-orange($width: 20vw, $height: 42px);
        margin: auto; // border: darken($dark-background, 10) solid 2px;
        margin-bottom: 1vh;
        margin-left: 0;
        font-weight: 300;
        font-size: 10pt;
        text-align: center;
        padding: 10px 10px;
    }
}