@import '../sass/variables';
@import '../sass/mixins';
#main-container {
    color: black; // width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    #main-container-content {
        box-shadow: 1px 7px 30px $theme-dark-grey;
        background: white;
        border-radius: 10px;
        width: 500px;
        #main-container-content-heading {
            @include row-center();
            justify-content: space-between;
            font-weight: bold;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background: $theme-dark-grey;
            color: white;
            padding: 1vh 2vw;
            span.heading-title {
                text-transform: uppercase;
            }
            span:last-child {
                @include transition-basic();
                font-size: 25px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-form {
            padding: 2vh 2vw;
            font-weight: bold;
            font-size: 10pt;
            input {
                border: darken($theme-grey, 10) solid 2px;
                background: $theme-grey;
                height: 40px;
                margin-bottom: 10px;
            }
            textarea.description {
                font-weight: normal;
                height: 20vh;
            }
            section#collaborators {
                padding-bottom: 20px;
                article.collaborator-list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    p.collaborator {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        color: $theme-blueberry;
                        height: 30px;
                        margin: 0;
                        span.delete {
                            @include transition-basic();
                            display: none;
                            margin: 0;
                            padding: 0 8px;
                            font-size: 17px;
                            border-radius: 3px;
                            text-transform: uppercase;
                            &:hover {
                                cursor: pointer;
                                background-color: gainsboro;
                                border: $dark-background;
                            }
                        }
                        span.comma {
                            margin-right: 10px;
                        }
                        &:hover {
                            cursor: pointer;
                            span.delete {
                                display: inline;
                            }
                        }
                    }
                }
                article {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    input {
                        width: 65%;
                        margin: 0;
                    }
                    button {
                        width: 25%;
                        height: 42px;
                        margin: 0;
                        background-color: none;
                    }
                }
            }
        }
    }
}

label {
    font-size: 17px;
    color: $theme-dark-grey;
}

button {
    margin: auto; // border: darken($dark-background, 10) solid 2px;
    background: $dark-background;
    color: $theme-grey;
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 10pt;
    width: 100px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    @include transition-basic();
    &:hover {
        background-color: white;
        border: $dark-background solid 2px;
        color: $dark-background;
    }
}