<app-header></app-header>

<section class="mainContainer">
  <section class="sourcestash-intro-content">
    <article class="sourcestash-intro-content-title">
      <span>Get Started With SourceStash</span>
    </article>
    <article class="sourcestash-intro-content-details">
      We understand how much trouble it takes to register a new account, so we made it easy for you: just sign in with your Google or Gmail account!
    </article>
    <article class="sourcestash-intro-content-button">
      <button (click)="loginGoogle()">
                <img src="/assets/images/google.png" width="50px" height="50px">
                <span>Sign in with Google</span>
            </button>
    </article>
  </section>
</section>

<app-footer></app-footer>