<section class="login-header">
    <section class="login-header-content">
        <article class="login-header-left">
            SourceStash
        </article>
        <article class="login-header-right">
            <div class="login-header-right-welcome"><a routerLink="/welcome">Welcome</a></div>
        </article>
    </section>
</section>

<section class="mainContainer">
    <section class="sourcestash-intro-content">
        <article class="sourcestash-intro-content-title">
            <span>Get Started With SourceStash</span>
        </article>
        <article class="sourcestash-intro-content-details">
            Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque tempor. Donec massa elit, eleifend at augue sit amet, sodales dapibus ipsum. Vivamus consequat laoreet nisi, non dictum arcu biben- dum eu. Aliquam rhoncus scelerisque
            tempor. Donec massa elit, eleifend at augue sit amet, sodales dapibus ipsum.
        </article>
        <article class="sourcestash-intro-content-button">
            <button (click)="loginGoogle()">
                <img src="/assets/images/google.png" width="50px" height="50px">
                <span>Sign in with Google</span>
            </button>
        </article>
    </section>
</section>

<app-footer></app-footer>