<section id="main-container" *ngIf="source">
  <section id="main-container-content">
    <article id="main-container-content-heading">
      <span class="heading">{{source.title}}</span>
      <article class="main-container-content-heading-btn">
        <span class="edit" (click)="editSource()"><img src="./assets/images/Edit2.png" width="30px" height="30px" *ngIf="source.type != 'root'"></span>
        <span class="cross" (click)="closePopup()">&times;</span>
      </article>
    </article>
    <section id="main-container-content-detail">
      <ul>
        <li>
          <span class="form-title-bold">Title:</span><span class="form-block-1">{{source.title}}</span>
        </li>
        <li *ngIf="source.type != 'root'">
          <span class="form-title-bold">Hyperlink:</span><span class="form-block-1">{{source.hyperlink}}</span>
        </li>
        <li *ngIf="source.type != 'root'">
          <span class="form-title-bold">Difficulty:</span> <span class="form-block-2">Intermediate </span>
        </li>
        <li *ngIf="source.type != 'root'">
          <span class="form-title-bold">Tags:</span> <span class="form-block-1">{{tagString}}</span>
        </li>
        <li>
          <span class="form-title-bold">Description:</span> <span class="form-block-3">{{source.description}}</span>
        </li>
      </ul>
    </section>
    <div id="create-source-button" (click)="addSource()">
      Create Source
    </div>
  </section>
</section>