@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';

// For the popup form
#main-container {
    /* Modal Content */
    #main-container-content {
        @include column-center;
        border-radius: 10px;
        box-shadow: 1px 7px 30px $theme-dark-grey;
        background-color: $theme-white;
        height: auto;
        border: 1px solid #888;
        width: 25vw;
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
        li {
            font-size: 10pt;
        }
        #main-container-content-heading {
            width: 100%;
            @include row-center();
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            flex-direction: row;
            color: $theme-white;
            background: $theme-dark-grey;
            padding: 1vh 2vw;
            .heading {
                font-size: 12pt;
            }
            .main-container-content-heading-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                .edit {
                    cursor: pointer;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .cross {
                    width: 30px;
                    height: 30px;
                    @include transition-basic();
                    font-size: 20pt;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        color: $theme-light-blue;
                        cursor: pointer;
                    }
                }
            }
        }
        #main-container-content-detail {
            width: 100%;
            padding: 1vh 2vw;
            .form-title-bold {
                font-weight: bold;
                font-size: 12pt;
                color: black;
            }
        }
        #create-source-button {
            @include button-ss-light(
                $width: 11vw
            );
            margin-bottom: 1vh;
        }
    }
}