@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/globalStyles';

// For the popup form
#main-container {
    /* Modal Content */
    #main-container-content {
        @include column-center;
        border-radius: 10px;
        box-shadow: 1px 7px 30px $theme-dark-grey;
        background-color: $theme-white;
        height: auto;
        border: 1px solid #888;
        width: 25vw;
        ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }
        li {
            font-size: 10pt;
        }
        #main-container-content-heading {
            width: 100%;
            @include row-center();
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            justify-content: space-between;
            font-weight: bold;
            color: $theme-white;
            background: $theme-dark-grey;
            padding: 1vh 2vw;
            .heading {
                font-size: 12pt;
            }
            .cross {
                @include transition-basic();
                font-size: 25px;
                padding: 0 5px;
                &:hover {
                    color: $theme-light-blue;
                    cursor: pointer;
                }
            }
        }
        #main-container-content-detail {
            width: 100%;
            padding: 1vh 2vw;
            .form-title-bold {
                font-weight: bold;
                font-size: 12pt;
                color: black;
            }
        }
        #create-source-button {
            @include button-ss-light(
                $width: 11vw
            );
            margin-bottom: 1vh;
        }
    }
}